[2014-06-18 00:51] geeksville opened #2 "good ideas from buzz"
1 -  the "check_home()" code that just confirms "home has been initialised", and
2 - the fact that in randy's code there is 4 different places where he has to "download the vehicle waypoints if we don't have them already" , presumably, "just to be sure"...?
3 - the send_nav_velocity() and condition_yaw() functions which would be convenient helper function/s in the drone.api directly. ... and proba

[2014-07-17 15:17] geeksville opened #3 "add vx,vy,vz to API"

[2014-07-17 15:18] geeksville opened #4 "add a timeout in case wpt download fails"

[2014-07-29 19:24] #3 closed, assigned to nobody

[2014-07-29 19:25] geeksville opened #6 "implement set_mavlink_callback"
from drone-platform:

Yes, oops - I hadn't noticed that we had missed that one.  Yes - I'll add that tomorrow and push out a new release.  Also it is worth noting that all of the attributes on vehicle, waypoints, parameters etc... support callbacks which might be a better way to go.  (see documentation for add_attribute_observer).  What mavlink packets were you needing to watch for?  I just want t

[2014-07-29 19:36] #6 closed, assigned to nobody

[2014-08-05 00:01] geeksville opened #7 "Failure for non interactive use"
reported via email:

Is there a way to call  DroneAPI without the interactive MavProxy ?

I have MavProxy running in the background and the droneapi.module loaded:

screen -d -m -s /bin/bash mavproxy.py --master=/dev/ttyAMA0 --baudrate 57600 --aircraft OCTO8 --out=127.0.0.1:12345 --cmd="module load droneapi.module.api;" > /tmp/rc.log 2>&1

If I execute small_demo.py outside of interactive MavProxy

[2014-08-06 22:40] imthedronelord opened #9 "Error while running example 'small_demo.py'"
https://github.com/diydrones/droneapi-python/issues/new#fullscreen_issue_body

After following instructions here: http://dev.ardupilot.com/wiki/droneapi-tutorial/
I've tried a test with (1) APM <> Raspbian.
1. APM <> Raspbian

--I am able to run 'module load droneapi.module.api'
--When I run 'api start small_demo.py' it seems to work (get 'ARMED' commands and other) but I get the following error m

[2014-08-07 15:46] #9 closed, assigned to nobody

[2014-08-15 04:26] esmalls opened #10 "Troubleshooting follow_me.py"
Hi Kevin,

Our team was able to run the follow_me.py example without debugging errors in two different ways. The first way we ran it, was exactly as the follow_me.py was written, and the second way was hardcoding one GPS coordinate in the Location function. However, in both cases we received the proper debugging output but the motors did not move.

The first way we ran it, was exactly as the follo

[2014-09-23 00:13] stephen-t-dodds opened #11 "How to store a set of waypoints for AUTO mode"
Hi,

Mavlink allows you to set a group of waypoints to be executed by AUTO mode by using the "set waypointfile.txt" command.

Have you created a function that emulates the "set" command so that waypoints can be saved to the drone? I looked extensively in your documentation and I have not found anything that resembles this command.

I did notice that in small_demo.py you have access to the waypoint

[2014-10-20 15:51] wsilva32 opened #12 "Timeout error when setting a parameter"
When I try to set a parameter (for example RC1_TRIM) in my python script I receive the following message after a 2 second delay:

timeout setting RC1_TRIM to 1500.000000

However, when I check the value in MAVProxy the value has been set correctly. I found that this message is generated by mavset() in mavparm.py in pymavlink, so perhaps it is a bug there. For now I have commented out these lines (

[2014-11-27 05:00] djnugent opened #13 "Command Line Arguments and Import issue"
Is it possible to have command line arguments for calling a script using api start?
Example "api start SmartCamera.py land -c 0"
When run I get "usage: api load <filename>"

Also when I run my script(without arguments), my script has problems completing imports. However, my script is able to complete imports when I run it normally(not with droneapi). Note: even if the script did complete imports i

[2014-11-27 18:40] #2 closed, assigned to nobody

[2015-01-08 18:31] mrpollo opened #19 "Add glue for change_spd"
@eliao asks if we can support MAV_CMD_DO_CHANGE_SPEED

[2015-01-09 19:13] geeksville commented on #19
Alas I think this change would be for https://github.com/diydrones/ardupilot.  DroneAPI just passes the cmd through.

[2015-01-09 19:24] eliao commented on #19
Oh, the ask was to create a droneapi method for creating this command, rather than using message_factory.

[2015-01-09 23:10] bbasso commented on #19
I thought the API could send any mavlink command, or are implementations for each command required?  Is the following not accurate?

out = api.set(MAVLINK_COMMAND, arg1, arg2, ..., argn)

[2015-01-09 23:11] geeksville commented on #19
@eliao - oh - in that case, good idea ;-)

[2015-01-09 23:13] geeksville commented on #19
though btw @eliao - I'm not sure if MAV_CMD_DO_CHANGE_SPEED is supported in any mode other than auto (I haven't checked the code though)

[2015-01-09 23:13] mrpollo commented on #19
@bbasso we expose helpers like ```takeoff()```, ```goto(<Location>)``` so that you don't have to type the full mavlink command

[2015-01-09 23:13] bbasso commented on #19
We can changes speed in Guided, and 90% sure it's with that command

[2015-01-09 23:14] bbasso commented on #19
gottcha--is there a sense in implementing the generic api.set() style command as a catch all for all the helpers that do not have an implementation?

[2015-01-09 23:23] mrpollo commented on #19
it might be possible passing a dict as a second arg for the different values of attributes in the command.

this is how we handle it right now: https://github.com/diydrones/droneapi-python/blob/master/droneapi/module/api.py#L66-L86

[2015-01-12 04:48] eliao opened #20 "ROI helpers"
It'd be nice to have ROI helpers, rather than using mavlink commands to set them.

[2015-01-12 06:48] bbasso commented on #20
+1.  It's always been a bit opaque about how ROI persists throughout a mission.  I would imagine a helper could make this more clear.  ROI could be persistent, or just exist till the next command

[2015-01-15 14:58] hammadhaleem opened #21 "Broken link on the page for the documentation"
Follow me & Hello world example links appears broken. I cannot view the examples.

[2015-01-15 17:02] mrpollo commented on #21
thanks for noticing!, I'm about to fix those links, meanwhile you can access them here https://github.com/diydrones/droneapi-python/tree/master/example

[2015-01-15 19:32] geeksville commented on #21
thanks Ramon!

On Thu Jan 15 2015 at 9:02:20 AM Ramon Roche <notifications@github.com>
wrote:

[2015-01-16 15:35] hammadhaleem commented on #21
Thanks for those links :)

On Fri, Jan 16, 2015 at 3:32 AM, Kevin Hester <notifications@github.com>
wrote:

--
Regards
Hammad Haleem

[2015-01-20 15:29] #21 closed

[2015-01-23 09:13] andyure commented on #12
Hi, I'm having the same issue at the moment. Did you have any luck solving it?

I am trying to limit the throttle (using v.parameter['THR_MAX'] = 0). This gives the same timeout error as you've written, although it does actually change THR_MAX to 0. However, future identical commands do not work (e.g. setting THR_MAX back to 100) - the code just hangs when you ask it to make the change.

[2015-03-05 23:59] mattanimation opened #24 "Console issues"
I've just started working with this api and so far it seems straight forward but I've been having some weird issues that might not be api problems specifically but not sure where else to ask about them. I'm running Yosemite on a macbook pro as fyi.
The issue is, I will run my script via the USB cable directly ( ex. mavproxy.py --master=/dev/cu.usbmodem1 --cmd="api start spray.py") it works like it

[2015-03-06 00:59] geeksville commented on #24
hmm.  can you try doing it from the mavproxy shell and tell me what you see?  i.e. don't include the api start command.  Instead just type "MANUAL" or "AUTO" at the mavlink shell and see if the mode changes properly.

[2015-03-06 01:27] mattanimation commented on #24
I connected with the radio usb adapter, here is my terminal output:
admin20081s-MacBook-Pro:example mattmurray$ mavproxy.py --master=/dev/cu.usbserial-DN00B8MP
Logging to mav.tlog
{'sitl': None, 'map': None, 'SOURCE_SYSTEM': 255, 'mission': None, 'TARGET_SYSTEM': 1, 'rtscts': None, 'streamrate': 4, 'console': None, 'auto_protocol': False, 'load_module': [], 'mav09': False, 'speech': False, 'master

[2015-03-06 01:36] mattanimation commented on #24
hold on, I think I may have figured it out, I noticed that default baud rate, which has never worked for us in APM, I set the --baud flag to 57600 and it didn't hang that time.

[2015-03-21 22:27] klinvill opened #26 "Broken link on README to the python autodocs"
It looks like updating the name from droneapi-python to dronekit-python may have messed up the gh-pages hosting. I am get a 404 not found message when I try to access the autodocs at either http://diydrones.github.io/droneapi-python/ or http://diydrones.github.io/dronekit-python/ even though the gh-pages branch seems to look ok.

[2015-03-21 23:47] geeksville commented on #26
Thanks!  I'll change it back till we figure out what is up!

[2015-03-22 17:07] geeksville commented on #26
ok - I've fixed the link to point to the new python.dronekit.io webpage (built from the same sphynx autodocs).  Should be good now (at either dronekit-python or droneapi-python)

[2015-03-22 17:07] #26 closed

[2015-03-30 22:44] igor-nap opened #30 "AttributeError: 'MPStatus' object has no attribute 'target_system'"
Received the "AttributeError: 'MPStatus' object has no attribute 'target_system'" error when attempting to send a mavlink msg.

In api.py:392, neither self.mpstate.status or self.mpstate.settings had the target_system or target_component attributes set.

Details of setup, error, and .mavinit.scr follow below.

Setup
-------------------------

SITL
$ sim_vehicle.sh --console --map --aircraft test -

[2015-03-31 03:56] hamishwillee opened #31 "Docs: Copyright is Kevin Hester while on Android Docs is 3DRobotics."
Should the copyrights be the same, and if so, which is correct?

[Python](http://python.dronekit.io/) : © Copyright 2014, Kevin Hester.
[Android](http://android.dronekit.io/): © Copyright 2015, 3D Robotics.

[2015-03-31 04:06] hamishwillee opened #32 "Docs: Left alignment of 3DR Logo differs from Android docs"
Just toggle between the two sites and you can see the logo move to the left. The Android alignment looks better to me. I am assigning this as a python issue since both sites are built off the same theme.

[2015-03-31 04:09] hamishwillee opened #33 "Docs: Minor link and layout defects in DroneKit-Python docs"
http://python.dronekit.io/

* No hyphen in DroneKit-Python's
* Heading underlines too short

http://python.dronekit.io/getting_started.html

* Italic for button presses. Better to use bold.
* Heading underlines too short
* Make consistent "first sentence capitalisation" for headings.

http://python.dronekit.io/first_app.html

Tidy heading levels

http://python.dronekit.io/example_1.html

* inline

[2015-03-31 06:18] #33 closed

[2015-03-31 06:19] hamishwillee commented on #33
This fixed when pull request accepted. Closing now.

[2015-03-31 07:13] hamishwillee opened #35 "DOC: Getting Started - content and structural issues"
http://python.dronekit.io/getting_started.html

1. The companion computer information is not sufficiently visible because it is right at the end of a long document. It is also discussed in the body of the doc before it is mentioned. The section could be moved to the top (before SITL) or it more likely we could start with an introductory sentence explaining that we cover both setting up in a simula

[2015-03-31 07:19] hamishwillee opened #36 "Rename "Python DroneKit Doc""
This title is meaningless, and could apply to any of our docs in the kit :-)

This would be much better as "DroneKit Python API Reference". OK?

[2015-03-31 07:41] hamishwillee opened #37 "The auto-generated API reference is full of open questions"
http://python.dronekit.io/automodule.html

Lots of "FIXME" markup and comments like "This idea is from @rmackay9 - thanks"

These should be closed/removed. If there are some that can be hidden, this can be done using the appropriate sphinx markup (ie you can actually mark sections to build only in a debug build, and in that same build have a table showing the open issues).

[2015-03-31 15:02] mrpollo commented on #36
Ok, thanks!

[2015-03-31 22:07] hamishwillee commented on #36
Cool, done in linked merge request #38. Closing this item.

[2015-03-31 22:07] #36 closed

[2015-04-01 00:17] phmagic commented on #32
Hi Hamish, are you talking about the nav bar?

[2015-04-01 00:18] phmagic commented on #31
I vote 2015 3D Robotics. What do others think?

[2015-04-01 00:19] kaitlynhova commented on #32
Can you refresh the page? I've been noticing a similar issue but now it looks fixed to me

[2015-04-01 00:35] hamishwillee opened #39 "Docs: 3DR Logo missing from navbar on IE/Firefox"
Should the "3DR" logo be displayed on top left of navbar? I see it on Chrome, but not Firefox or IE (for chrome I tried on a fresh browser, so I think it is not a caching issue).

Chrome:
![image](https://cloud.githubusercontent.com/assets/5368500/6932278/d29ee33e-d862-11e4-8ba6-f354d56e5594.png)

On Firefox and IE:

![image](https://cloud.githubusercontent.com/assets/5368500/6932286/e7f4ea94-d862

[2015-04-01 00:36] hamishwillee commented on #32
Phu, yes, I am talking about the left aligned "DRONEKIT" link on the nav bar.

Kaitlyn, yes, refreshed the page. The alignment is correct now. I am closing this.

But ... note #39

[2015-04-01 00:36] #32 closed

[2015-04-01 00:52] hamishwillee commented on #31
That would be desirable.

Legally this depends on how Kevin is employed and his T&Cs. Under my contract anything I do for 3DR would be copyright 3DR but who knows what his says. And of course he might be happy to let us own the copyright.

[2015-04-01 05:12] hamishwillee opened #40 "DOC: First paragraph of Python entry point improvements"
http://python.dronekit.io/ (index.rst)

The text in the first paragraph might be improved:

It does talk about the fact that the API can be used on Linux computer and on ground stations (good). The problems are that it:

* uses term "onboard Linux computer" where we use "Companion Computer" elsewhere.
* does not specify the ground station OS other than saying "personal computer"
* doesn't cover th

[2015-04-01 05:26] hamishwillee commented on #40
I've created some text which I believe fixes this and committed it. The text makes it more clear what computing platforms the API runs on and says a little more about the benefits to be had from the API. I've reproduce below. Note that the actual text has links, while this does not:

[2015-04-01 05:54] hamishwillee commented on #35
One thing not clear in current docs is that you can develop your companion computer APP on the PC/SITL. The APP is "the same" - the only reason you run it on a companion computer is if you need significant computation, low latency from code running to commands reaching the autopilot, and/or "always available even if link to ground station breaks" connectivity.

[2015-04-01 06:04] hamishwillee commented on #35
The commands you are expected to enter look like this:
[code]

But  the "STABILIZE>" is not displayed in MAVLINK - instead you get a stream of information from the autopilot. If however you copy in "param load ../Tools/autotest/copter_params.parm" to the prompt then hit enter, the STABILIZE> prompt is briefly displayed as the information is processed.

So shouldn't the "STABILIZE>" bit be removed

[2015-04-01 06:20] hamishwillee opened #41 "DOC: Getting Started "pip" dependency incorrect"
The [Linux Dependencies here](http://python.dronekit.io/getting_started.html#linux-dependencies) for pip are incorrect:

this should be "python-pip"

[2015-04-01 06:31] hamishwillee commented on #35
There is some inconsistency on whether components are installed as root ( **sudo** app-get install) or not
- Linux dependency and mavpoxy do use the sudo
- dronekit does not.

I got an error installing dronekit without sudo on my vagrant box, so arguably it should be sudo. However if you're on Windows or Mac you won't use sudo. Thoughts?

[2015-04-02 03:42] hamishwillee commented on #37
There are easy ways to do this:

1. Use .. only:: draft
This will add the the stuff in the block only in a "draft" build - omitting it from the final build.

2. Use the [todo extension](http://sphinx-doc.org/ext/todo.html). I like this because you can mark up any text as a TODO and view it in a todo build (only). In that same build you can use another construct to list all the TODO items.

[2015-04-02 15:33] mrpollo commented on #40
@hamishwillee is this closed by https://github.com/diydrones/dronekit-python/pull/38 ?

[2015-04-02 15:33] mrpollo commented on #41
@hamishwillee is this closed by https://github.com/diydrones/dronekit-python/pull/38 ?

[2015-04-02 15:34] mrpollo commented on #41
closed by #38

[2015-04-02 15:34] #41 closed

[2015-04-02 15:36] mrpollo commented on #10
If this isn't yet resolved lets create a new issue to troubleshoot

[2015-04-03 02:41] hamishwillee commented on #41
Thanks, yes is fixed!

[2015-04-03 03:47] hamishwillee opened #42 "DOC: Should README.md point to issues rather than Kevin?"
[README.md](https://github.com/diydrones/dronekit-python/blob/master/README.md) indicates direct contact of Kevin. Suggest we modify it so that bugs and feedback go to issues list, and technical questions go to stack overflow. OK?

[2015-04-03 03:49] mrpollo commented on #42
Agreed!, thanks.

[2015-04-03 04:19] hamishwillee opened #43 "Provide information and vagrant file on how to contribute to docs?"
We should make it easier for people to get started with contributing to the documents. The good news is that *sphinx_3dr_theme* can now be updated from pip, so it is now possible to set up sphinx and build the source without having to modify any files (previously you needed to modify the conf file in order to replace the theme).

I've written a vagrant script that does this. The proposal is to put

[2015-04-03 04:34] hamishwillee commented on #40
Yes. I hope you had a quick sanity check of the text - even a tech writer can make mistakes :-)

Note, I had to refresh my cache to view this change. Do we have reasonable server expiry limits on the pages?

Closing this.

[2015-04-03 04:34] #40 closed

[2015-04-03 05:25] hamishwillee commented on #42
Done, and committed in #44. Note, I also added stackoverlow in the list as a potential source of documentation.

Closing this.

[2015-04-03 05:25] #42 closed

[2015-04-03 06:40] phmagic commented on #43
Sounds good to me.

[2015-04-03 17:15] mrpollo commented on #43
@hamishwillee I'm testing your Vagrantfile, I agree with your comments I'll be pushing a branch with your changes so we can reference that, and commit there instead of offline and sharing

[2015-04-03 17:59] mrpollo commented on #43
I created a pull request #45 that contains the Vagrant changes you propose, please let me know if they make sense, if they do please post your other changes to that branch.

[2015-04-06 17:55] zlite opened #48 "Companion Computer menu link is at wrong level should be submenu"
That link is should be in the submenu, not a menu header.

It's now like this:
![welcome_to_dronekit-python s_documentation_](https://cloud.githubusercontent.com/assets/18071/7008902/46e6a812-dc4b-11e4-8e6a-7333db871c9b.png)

It should be as shown here:
![unnamed](https://cloud.githubusercontent.com/assets/18071/7008929/774c0894-dc4b-11e4-8c12-86aaf7f1bef5.png)

[2015-04-06 17:57] mrpollo commented on #48
Agreed, I'll make this change right away.

[2015-04-06 17:59] mrpollo commented on #48
@hamishwillee regarding your comments on #46 would you be able to submit a PR with a fix for this taking into consideration @zlite comments?

[2015-04-06 18:24] mrpollo commented on #37
I agree, lets remove them from Sphinx!

[2015-04-07 02:18] hamishwillee commented on #48
My comments are now no longer relevant given a "pure-Air" focus for the python docs. So no need. This can probably be closed.

[2015-04-07 03:53] zlite commented on #48
Now that we've fixed the level of the Companion Computer link, we can remove the second stand-alone top-level link, as shown:
![getting_started](https://cloud.githubusercontent.com/assets/18071/7016710/f7b9caae-dc9e-11e4-8dd8-43a8ca03eaf7.png)

[2015-04-07 04:47] hamishwillee commented on #35
Ramon expects to have a SITL vagrant image that can vastly simplify this process by Friday. At that point will revisit the instructions.

[2015-04-07 06:44] hamishwillee commented on #31
Closing, as issue will be fixed when #44 is merged

[2015-04-07 06:44] #31 closed

[2015-04-07 08:01] hamishwillee opened #50 "Add Erle-Brain to the supported companion computers list"
Propose add http://planner.ardupilot.com/wiki/other-project-and-common-topics/common-autopilots/common-erle-brain-linux-autopilot/ to http://python.dronekit.io/getting_started.html#supported-companion-computers under "Beaglebone Black" section.

This is an all-in-one package autopilot and companion computer - and as you will note has instructions and back links to our docs. I think it is quite imp

[2015-04-07 22:49] #43 closed

[2015-04-08 06:32] hamishwillee commented on #50
Actually, possibly not. While it is true that this does work, this is still "early days" and there are a lot of unknowns. So for example this doesn't run the vanilla APM version. Also it is apparently single core, so it is not clear how it would perform/what would be sacrificed if it was run with DroneKit and APM

[2015-04-08 06:33] hamishwillee opened #52 "Could we have a github label for docs issues"
This might be useful for filtering the docs requests. I don't know how to add these.

[2015-04-08 16:57] mrpollo commented on #30
@igor-nap can you try this again and update your issue with your pip package list with versions ? I'm interested in the mavproxy and droneapi versions you are running

[2015-04-08 18:14] AndrewKe opened #54 "Simple CherryPy Server"
I can't seem to get a simple CherryPy Server working with DroneKit. The code below works fine when I execute it out of mavproxy using  `python drone.py`  but when I enter mavproxy and execute it using `api start drone.py` , none of the CherryPy debug messages appear and I just get "STABILIZE> APIThread-0 exiting..."

[code]

I'm trying this on a RaspberryPi2 and the 'drone delivery" demo which als

[2015-04-08 18:17] mrpollo commented on #54
please share a stack-trace and the version of mavproxy, droneapi and cherrypy you are currently running.

Also I wrote an example using CherryPy here https://github.com/diydrones/dronekit-python/blob/master/example/drone_delivery/drone_delivery.py maybe this can help you get started.

[2015-04-08 20:58] AndrewKe commented on #54
Thank you @mrpollo.

I derived this code from the drone_delivery example and it now works.

[code]

[2015-04-08 21:39] mrpollo commented on #54
What would you say was the part of your code that was causing your errors? (for posterity)

[2015-04-08 22:15] AndrewKe commented on #54
I think manually starting the web server instead of using cherrypy.quickstart() solved it.

[2015-04-08 22:18] mrpollo commented on #54
glad we could help, thanks for sharing!

[2015-04-09 01:11] mrpollo opened #56 "gitter batch points to droneapi-python which doesn't exist anymore"
we need to update it with the right link

https://gitter.im/diydrones/dronekit-python

[2015-04-09 04:27] hamishwillee commented on #37
@mrpollo What release are we up to for the API? Also, how can I work this out for myself?

Specifically in droneapi.lib.Mission and get_mission it has "PLACEHOLDER - will not be included in the release 1 python API, they will only be accessible from the REST API. (This is based on the most likely use-cases wanting a REST interface)"

So if we're up to release 1.x, is this supported?

[2015-04-09 05:40] hamishwillee opened #57 "Autogenerated API ref missing some public API"
localConnect and webConnect do not appear in the public API reference. I think they should - because they are what you use to get a hold of the APIConnection, and from this everything else.

@mrpollo Can you tell me what should / shouldn't be documented from this file - ie what is "private"?

[2015-04-09 05:42] hamishwillee commented on #57
Please ignore that. The API was just mis-named in the first place I ran into it. Fixing that now.

[2015-04-09 05:42] #57 closed

[2015-04-09 06:16] hamishwillee commented on #37
I have submitted fix to this in #58:

* All the FIXME comments are still present, but as they appear in a todo directive they are not automatically displayed when you build the documentation.
* The todos are rendered if you build with the correct flag:
  ```make -e SPHINXOPTS="-D todo_include_todos=1" html```

  (or using our vagrant tool you can do:
  ```vagrant ssh -c "cd /vagrant/docs && make -

[2015-04-09 06:16] #37 closed

[2015-04-09 07:01] hamishwillee opened #59 "Should the genindex be in the TOC?"
This file is autogenerated, but not linked from anywhere http://python.dronekit.io/genindex.html

How useful is it? Should it be in the sidebar?

[2015-04-09 17:55] eliao opened #60 "Attribute observer callbacks are called with heartbeat until disabled - after first called"
This seems odd to me, particularly because they are labeled "__on_change".

eg:  if I do a
vehicle.add_attribute_observer('mode', mode_callback)

mode_callback is called every heartbeat, regardless of mode change.

[2015-04-09 18:00] eliao opened #61 "Attribute observer callbacks pass in the name of the attribute, not the value"
This seems unexpected to me.

eg, If I call:
vehicle.add_attribute_observer('mode', mode_callback)

mode_callback is called with 'mode' as a parameter.  I would expect to be passed the value of vehicle.mode.  I'm not sure why I would want the name of the attribute, as I already know the name.

Perhaps the intention is for a single callback to handle multiple attributes?  That seems odd to me, and

[2015-04-09 18:08] mrpollo commented on #61
I agree, this is confusing, right now the right way of doing reading the value is just reading through the global on the callback listener, the value will be updated before the trigger of callbacks relevant source for this behavior is here:

**APIModule**
https://github.com/diydrones/dronekit-python/blob/master/droneapi/module/api.py#L395-L397

**HasObservers**
https://github.com/diydrones/droneki

[2015-04-09 18:11] eliao commented on #61
I would expect the callback to pass in the new value of the attribute.

Preferably only when it changes, as referenced by https://github.com/diydrones/dronekit-python/issues/60

[2015-04-09 21:28] mrpollo commented on #59
Probably below API reference? do you find it useful?

[2015-04-10 07:07] hamishwillee commented on #59
Not "super" useful - and this will be less useful when our class documentation CSS is improved and it is possible to read it more easily.

If we do want this in the TOC it has to be added as an explicit URL link to the index as shown below (ie you can't link to the version just built!):
[code]
We could however just add it as a link on a home page or similar and then it can be linked "properly" usi

[2015-04-10 07:52] hamishwillee commented on #48
This was fixed

[2015-04-10 07:52] #48 closed

[2015-04-10 15:32] mrpollo commented on #59
If you can add it as a submenu item of the api reference I vote to add it, if not lets leave it out

[2015-04-10 21:59] mrpollo commented on #30
fixed by #53

[2015-04-10 21:59] #30 closed

[2015-04-13 02:43] hamishwillee commented on #59
I can, included in pull request #58

Note, the included doc is hardcoded to point to the current python version of the file - so if you build this locally the link will take you to the main site. This is not desirable, but there is no way around it (as discussed above - you cannot include genindex in a TOC except by providing a full URL).

Closing, as this will be delivered by the pull request

[2015-04-13 02:50] mrpollo commented on #59
thanks @hamishwillee

[2015-04-13 05:41] hamishwillee opened #62 "test-upload.py is not a dronekit-python example"
[test-upload.py](https://github.com/diydrones/dronekit-python/blob/master/example/log_upload/test-upload.py) shows how to upload a file to a service with the Cloud (REST) API, using Python. IMO that makes it something that belongs in the cloud example code, NOT in the dronekit-python example code.

When you've created a place for the cloud docs and issues, I'll move this across (assuming you agree

[2015-04-14 18:28] robnsngh opened #63 "Adding Camera support for Companion Computers"
USB camera and other cameras support for companion computers. Potentially allowing developer to access live stream over LTE from the drone. Roadmap to create "periscope" like app for drones.

[2015-04-14 19:29] mrpollo commented on #63
@robnsngh I think this is of value to our docs, I will make sure we have some "supported" cameras or at least a list of what we have tested in there.

LTE Live stream, I think that we are going to give some level of "support" to achieve streaming through the API, or at least set a standard of "recommended" settings, but might not go as far as creating a "periscope" like app for drones, but that is

[2015-04-14 23:19] hamishwillee commented on #63
@mrpollo I would split this into two parts - a documentation issue, and an API-enhancement issue. What they are mostly asking for here is the later - support in the API for control of video, including an endpoint in the API to get video frames. This is not AFAIK supported in ArduPilot yet, but as Solo has this we could define an API for getting the frames and some way of telling if the computer su

[2015-04-14 23:50] mrpollo commented on #63
I mostly disagree with you @hamishwillee, while I agree that we already have some level of support for CHDK and triggers via waypoints I don't think this is the solution going forward, and the autopilot shouldn't be involved in any video transaction since video is way lower priority.

Yes we need to include support for cameras on DroneKit, and no, it's not irrelevant, Video is a pending problem in

[2015-04-15 00:26] hamishwillee commented on #63
Hi @mrpollo

As a documenter, my response is mostly about "what support we offer now". I think it makes sense to provide a clear story on that for our users.

So given that, what don't you agree with about the proposed documentation solution?

(and yes, your points regarding our future direction make a lot of sense. The reasons I want to separate the documentation and future-direction problem is b

[2015-04-15 00:31] hamishwillee commented on #63
@mrpollo  - ah, didn't read your message properly! "I think your guide idea is great, and something we can do right now, yes we have some camera examples, lets discuss somewhere else about writing this guide."

OK, we agree on that. Yes, lets discuss offline.

[2015-04-15 15:55] #54 closed

[2015-04-17 00:26] hamishwillee opened #64 "API modifications to fix missing/confusing reference"
The current API Reference is built from droneapi.lib module by Sphinx, which pulls it from comments in */droneapi/module/api.py* and *droneapi/lib/__init__.py*. I've done a bit of a comparison of what is in the files and what is documented and have some suggestions:

## DONE

3. Documentation in __init__ refers to objects as "base class" and has comments like "implemented in subclass".  This is us

[2015-04-17 01:26] hamishwillee opened #65 "Hide non-implemented APIs from documentation"
The API contains a number of APIs that are not fully implemented, and may never be. We do not intend people to use them at the current time. They are however publically visible and currently documented.

* class Mission
* get_mission
* ConnectionInfo
* web_connect
* AuthInfo

IN addition there are APIs that are internal in that we don't expect people to call them (please confirm)
* notify_observer

[2015-04-17 01:27] hamishwillee commented on #64
FYI, just separated out the discussion related to showing partially implemented APIs to #65

[2015-04-21 05:47] hamishwillee opened #66 "Flight Replay example uses incorrect API"
The [Flight Replay example](http://python.dronekit.io/example_3.html#setting-the-new-waypoints) sets waypoints using mavutil.mavlink.MAVLink_mission_item_message directly. As I understand the API the correct type for a command in this API is "Command" (which is not even imported)

[code]

To fix this I believe the change is trivial, because the Command is just a thin wrapper around MAVLink_mission

[2015-04-21 06:09] hamishwillee opened #67 "Command API does not sufficiently abstract MAVLink_mission_item_message"
The Command object is, I believe, a thin wrapper around a mavutil.mavlink.MAVLink_mission_item_message. It allows you to create a command object like this:

[code]
The values of the parameters are the same as the mavutil.mavlink.MAVLink_mission_item_message and I believe this to be a bug.

The problem is that I don't believe that most of these can or should be set by the user. It may be that they

[2015-04-21 16:33] mrpollo commented on #66
@hamishwillee did you try this in SITL?

[2015-04-21 23:32] hamishwillee commented on #66
I ran both the original code and with my changes above. In both cases the output "looked reasonable" and was the same.

BUT, I did NOT go through the code fully yet and confirm that it is all working as expected. So "looking reasonable" is not a canonical "this code works perfectly".

[2015-04-22 06:38] hamishwillee opened #68 "Support for Rally Points?"
Is there a mechanism to support Rally Points?

These are not MAV_CMDs, and so it might be that there is no proper support for them through Command and CommandSequence.

They are created using MAVLINK_MSG_ID_RALLY_POINT

[2015-04-24 22:28] silviorevelli commented on #63
Video, gimbal, lidar is not an autopilot's affair. Such low-priority task should be addressed by companion computer. FYI: 4G video streaming has been already achieved www.4gmetry.com

[2015-04-28 23:13] hamishwillee commented on #64
This is the comparison review (full)

### Comparison review

Comparison of documented API with the .py definitions to verify documentation is complete
https://github.com/diydrones/dronekit-python/blob/master/droneapi/module/api.py
https://github.com/diydrones/dronekit-python/blob/master/droneapi/lib/__init__.py
http://python.dronekit.io/automodule.html

* Things present in files but not documented

[2015-04-28 23:23] hamishwillee opened #70 "Add CommandSequence.takeoff to the public API"
This is defined in the implementation class (not the interface class) and does not appear in the documentation.

It needs to be made visible in the documentation, ideally by defining it in the interface.

Note: I split this out from #64 so I can assign ownership to @mrpollo .

[2015-04-29 02:19] hamishwillee opened #71 "Implementation missing for battery_0_soc and battery_0_volt"
There is no implementation for battery_0_soc and battery_0_volt. Please provide implementation and information about what parameters these map to on ardupilot (basically I need to know their "meaning" and possible values and units - so for example "Remaining capacity of the first battery in X units"

It is possible for a UAV to have multiple batteries, and two are specified in the [parameters](htt

[2015-04-29 03:51] hamishwillee opened #72 "Move channel_override examples out of simple_goto and small_demo"
According to @tridge overriding channels is intended for simulating user input (ie in autotest) or for implementing joystick behaviour. It should not be used to directly drive a vehicle, except as a last resort. Instead the appropriate mavlink commands should be used.

The following examples set the channel_override in  a way that we would not recommend:

* https://github.com/diydrones/dronekit-py

[2015-04-29 04:25] hamishwillee opened #73 "Remove the commented out "Test custom commands" from examples"
Remove unnecessary code from examples to make them clean and clear (including the commented out code like "Test custom commands".
https://github.com/diydrones/dronekit-python/blob/master/example/small_demo/small_demo.py#L47

We should have a separate guide and reference on custom commands that uses this.

Note, no need to remove from [perf_test.py](https://github.com/diydrones/dronekit-python/blob

[2015-04-29 04:58] hamishwillee opened #74 "Attribute observers result in endless output, even when script exited"
Remove the comment [on this line in small_demo.py](https://github.com/diydrones/dronekit-python/blob/master/example/small_demo/small_demo.py#L70) to re-enable the mode.

So the code has
[code]

When executed, the code runs. After the thread exits the mavproxy command prompt prints out the mode forever as shown below. This is a bug of some sort right?
[code]

[2015-05-04 23:41] mrpollo commented on #65
first list is ok, I'm going to have to look at ```notify_observers`` and ```vehicle.delete```

[2015-05-05 00:01] hamishwillee commented on #65
As above, have done the first part (Mission, get_mission, ConnectionInfo, web_connect, AuthInfo) in the pull request.

[2015-05-05 04:49] hamishwillee opened #75 "DOC: Gather introductory docs into own section"
Currently we don't have a central place for non-technical material that explains what the project is about and how it can be used, and how developers can engage with it more closely (contribute) - though some of this material is spread throughout the sidebar.

The requirement is to group all the introductory material about what the API offers, contributing, licencing, supported companion computers

[2015-05-05 04:55] hamishwillee commented on #75
Closing, addressed by #58 (when it is merged)

[2015-05-05 04:55] #75 closed

[2015-05-05 07:32] hamishwillee opened #76 "DOC: Re-write the getting started section"
The getting started section of the docs has a number of problems:

- There is some duplication of commands for installing droneapi (ie done as a dependency and at the end)
- The instructions to install Mavproxy aren't really needed as this is done automatically as it is a Droneapi dependency in pip
- The instructions stop after installation. A get started should really go through to running an exa

[2015-05-06 00:36] mrpollo commented on #62
lets remove this example

[2015-05-06 00:37] hamishwillee commented on #62
I will delete

[2015-05-06 00:39] mrpollo commented on #74
I need to confirm if this is a MAVProxy problem or DroneKit

[2015-05-06 01:25] hamishwillee opened #77 "DOCs: API Reference is building an old version (somehow)"
The API Reference on Python IO does not reflect the current API.

The documentation is auto-generated from [__init__.py](https://github.com/diydrones/dronekit-python/blob/master/droneapi/lib/__init__.py). If you look at this source you can see that this differs quite a lot from [what is published](http://python.dronekit.io/automodule.html). When I build this locally the built reference matches the

[2015-05-06 01:36] hamishwillee commented on #67
@mrpollo You indicated that target_system, target_component, sequence number are handled by the API. As understand it you disagreed with removing them from the API because even though they aren't particularly useful right now (and are not necessarily implemented in Autopilots) there is no reason they might not be useful in future. I see your point.

I'm keeping this open and assigning to you becau

[2015-05-06 02:19] hamishwillee opened #78 "Vehicle parameter update observer not called, possibly due to timeout"
I am try to observe a change made to a Vehicle.parameter value. The test code at the bottom of this comment registers an observer on THR_MIN. It then reads the value and attempts to change it. The code then writes a different value, sleeps 5 seconds, then prints it again.

In all cases, the console reports a timeout setting the parameter. However when the value is next printed it matches the new s

[2015-05-06 03:53] hamishwillee commented on #65
As discussed, Vehicle.delete is internal and notify_observers remains public.

This item is closed by #80

[2015-05-06 03:53] #65 closed

[2015-05-06 04:20] hamishwillee commented on #66
Tried this in SITL and the fixed file works. I have made this change. Closing as fix is in #81

[2015-05-06 04:20] #66 closed

[2015-05-06 04:33] hamishwillee commented on #62
Closed by #82

[2015-05-06 04:33] #62 closed

[2015-05-06 04:41] hamishwillee commented on #11
This question is quite old, so I assume either you worked this out or the functionality was fixed. The latest API reference (not "quite" being displayed) shows how to upload commands (well, a single command, but it is the same thing):
[code]

The documentation also updates the instructions on the channel_override (renamed from rc_override). Generally speaking the recommendation is that these are n

[2015-05-06 04:41] #11 closed

[2015-05-06 04:44] hamishwillee opened #83 "DOCs: Some setters are not being pulled into the public API"
Specifically the setter for ``CommandSequence.next`` is not being auto-documented.

[2015-05-06 04:47] hamishwillee opened #84 "Reorder __init__.py layout to improve API reference documentation"
The documentation is ordered alphabetically, however we have the choice to force it to order by source (using directive ``` :member-order: bysource```).

@mrpollo  Propose for discussion is that the source in __init__.py be re-ordered such that the things we want people to use are first - ie
[code]

[2015-05-06 04:49] hamishwillee commented on #64
Closing this issue as all parts have either been dealt with, or pushed out into other issues.

[2015-05-06 04:49] #64 closed

[2015-05-06 04:57] hamishwillee commented on #50
Not going to do.

[2015-05-06 04:57] #50 closed

[2015-05-06 04:57] hamishwillee opened #85 "message_factory and send_mavlink(message) docs have incorrect advice"
``message_factory`` and ``send_mavlink(message)`` state that custom commands are a catch-all/back door in case we miss something in the API.

This is incorrect. These are also useful for sending arbitrary commands in guided mode.

----

In addition, we need guide documentation on these. The documentation should cover that there are a number of ways to send messages. For example COMMAND LONG is a b

[2015-05-06 04:59] hamishwillee commented on #35
Closing this - superseded by #76 76

[2015-05-06 04:59] #35 closed

[2015-05-06 05:00] hamishwillee commented on #12
@mrpollo I am assigning this to you. I detected the same problem when attempting to get parameter-change notification in #78

[2015-05-06 05:03] hamishwillee opened #86 "GPSInfo - what values are returned if we can’t get a fix"
GPSInfo

- what values are returned if we can’t get a fix?
- Are all values as in https://pixhawk.ethz.ch/mavlink/#GPS_RAW_INT supported (other docs I see don't have RTK or DGPS options)

The documentation in API Reference currently ignores these points.

[2015-05-06 05:14] hamishwillee opened #87 "Identify Vehicle attributes that can be both set and retrieved"
All vehicle attributes like location, mode, etc can be read. Some can also be set, and this will affect behaviour (for example: mode, armed).

Find out the attributes that can be changed (by testing) and document them.

[2015-05-07 00:30] mrpollo commented on #85
:+1: agreed, you are correct

[2015-05-07 01:25] mrpollo commented on #86
if you have no lock you get ```None``` back

[2015-05-07 01:25] #86 closed

[2015-05-07 01:36] mrpollo commented on #78
the callback might have never registered since ```THR_MIN``` isn't an attribute of ```Vehicle```, only direct attributes of ```Vehicle``` are being called, in this case you would need to observe ```parameters``` for changes instead

[2015-05-07 01:36] #78 closed

[2015-05-07 01:40] mrpollo commented on #77
the docs server wasn't updating the reference to the dronekit-python package it was using to generate the autmodule, this has been corrected and the latest changes are now on http://python.dronekit.io/automodule.html

[2015-05-07 01:40] #77 closed

[2015-05-07 02:47] hamishwillee commented on #77
Perfect thanks - good to see all that doc work gone live!

[2015-05-07 02:55] hamishwillee opened #89 "How do you register/observe changes to a particular Vehicle parameter"
class Parameters implements HasObservers interface, and it should therefore be possible to register to observe parameter changes (this is also indicated by the original documents).

I tried this, but while the code will run, the observer is not called (possibly because THR_MIN is not an attribute):
[code]
I tried this, but while the fails with some kind of not-supported error
[code]

How is this d

[2015-05-07 02:59] hamishwillee commented on #78
@mrpollo Observing Vehicles.parameters is pointless since even if it worked and the callback was run, you'd have to query every single parameter to find out what the current values are (and you still wouldn't know what changed). The docs say you can directly observe Parameters and that makes sense because it implements HasObservers. I've asked the question more directly in #89

[2015-05-07 03:00] hamishwillee commented on #86
Fantastic. Thank you.

[2015-05-07 04:00] hamishwillee commented on #86
FYI I updated the ``Vehicle.gps_0`` doc to note that this returns None if there is no lock (#90)

[2015-05-07 04:02] hamishwillee commented on #85
See #90 for updates to the API Reference to explain that send_mavlink is useful for sending arbitrary messages, particularly in GUIDED mode. I will leave this open until I create a "Custom commands" page.

[2015-05-08 00:31] hamishwillee opened #91 "Improve the project README.md"
https://github.com/diydrones/dronekit-python/blob/master/README.md could be improved.

Better readme files to use as examples:

https://github.com/spree/spree
https://github.com/rails/rails
https://github.com/typicode/json-server
https://github.com/facebook/PathPicker

[2015-05-08 00:36] hamishwillee opened #92 "Evaluate use of https://asciinema.org/ in our docs"
The tool https://asciinema.org/ allows lightweight recording of terminal sessions on Linux/Mac OSX that can be embedded in docs and played back.

Evaluate whether these might be useful in our documentation set.

[2015-05-08 00:40] hamishwillee commented on #92
Initial thinking is that for most use cases where you need to display text for users the most important thing is that they can copy-paste the commands. I don't see much benefit in watching the process of someone typing something in.

The exception is where the process itself is of interest. For example showing what it looks like when you successfully connect over MAVProxy is actually useful, becau

[2015-05-08 16:45] #85 closed

[2015-05-08 20:54] mrpollo commented on #24
Closing as resolved, if problems persist please create a new Issue.

[2015-05-08 20:54] #24 closed

[2015-05-09 01:52] hamishwillee opened #93 "Move/tidy up /example/documentation"
The example documentation is currently in two places:

* https://github.com/diydrones/dronekit-python/tree/master/example/documentation
* https://github.com/diydrones/dronekit-python/tree/master/docs/examples

Action is to move the documentation all into the official docs. First step to simply remove the content of migrated docs and add links to where the content is now. When all examples are migr

[2015-05-09 02:11] mrpollo commented on #93
Agreed.

[2015-05-11 04:44] zlite opened #95 "RasPi:Loading DroneAPI module initially reports failure but then loads module"
Regarding: http://python.dronekit.io/examples/running_examples.html

Using RasPi

Although I followed the direction and Git Cloned the DroneAPI code (git clone http://github.com/diydrones/droneapi-python.git) and changed directory to the example folder (cd droneapi-python/example/small_demo) and successfully started MAVproxy, I still got a missing file error when I entered: "module load droneapi.m

[2015-05-11 05:22] hamishwillee commented on #93
This is closed by #96. Note that there are undocumented examples still (e.g. client_sketch.py). I will raise separate issues for those.

[2015-05-11 05:22] #93 closed

[2015-05-11 05:23] hamishwillee opened #97 "Client Sketch example is undocumented"
The [sketch](https://github.com/diydrones/dronekit-python/blob/master/example/sketch/client_sketch.py) example is undocumented. Evaluate whether this should be documented, and if not, whether it should be removed.

[2015-05-11 06:28] hamishwillee opened #98 "Add visual follow-me example to official docs"
Document [visual-followme](https://github.com/diydrones/visual-followme) and add to the official examples list.

Note: At time of writing I have [some concerns](https://github.com/diydrones/visual-followme/issues/1) about the implementation (use of the channel overrides). Waiting to see if these are resolved before starting.

[2015-05-12 06:35] hamishwillee opened #99 "Error in Vehicle.armed markup"
[Vehicle.armed](http://python.dronekit.io/automodule.html#droneapi.lib.Vehicle.armed) renders incorrectly. Probably missing a backtick or two.

[2015-05-12 07:10] hamishwillee opened #100 "Remove Vehicle.waypoint_home documentation"
``Vehicle.waypoint_home`` was in the original documentation, but is not present in the implementation (MPVehicle). So if you try the following you will get an exception.

[code]
Remove the variable from the documentation as it is "not implemented".

#105 has been created to add the attribute back again

[2015-05-12 07:10] hamishwillee commented on #100
Research indicates that implementing this API this probably isn't possible currently. It is possible to [set the home position in a mission](http://planner.ardupilot.com/wiki/common-planning-a-mission-with-waypoints-and-events/common-mavlink-mission-command-messages-mav_cmd/#mav_cmd_do_set_home) but it is not 100% clear whether this is the same "variable" as is used in other modes. It is also not

[2015-05-12 07:17] hamishwillee opened #101 "Vehicle.battery_0_volt and Vehicle.battery_0_soc should be hidden in documentation"
``Vehicle.battery_0_volt`` and ``Vehicle.battery_0_soc`` were in the original documentation but are not implemented.

These should be hidden in the generated documentation (currently they are just marked as "not implemented") - action for @hamishwillee.

[2015-05-12 07:20] hamishwillee opened #102 "Battery information should be made available through the API"
The API should expose battery/power information.

This should ideally include raw numbers like "available charge" and "voltage", "current", "remaining power", "consumed power". If possible, good to have an estimated flight time at current consumption.

It is possible for a vehicle to have multiple batteries, and the API should be capable of exposing the information for at least 2.

This issues res

[2015-05-12 07:24] hamishwillee opened #103 "Vehicle.mount_status needs to be documented"
The mount_status is defined in MPVehicle. If run on my SITL environment the following code returns

[code]

This needs to be documented. @mrpollo is best way would be to move this into the public API? Alternatively, I can create documentation in the init__.py file.

In docs, it would be good to be able to show how to configure SITL with a camera mount so we can get meaningful information back from

[2015-05-12 23:32] geeksville commented on #100
definitely possible, it was probably inadvertently lost when full command access was added..  vehicle.commands[0] is guaranteed to be home.  It would be easy to add it back.

[2015-05-12 23:32] geeksville commented on #89
This is meant to be supported and if it doesn't work it would be easy to add.

[2015-05-12 23:37] hamishwillee commented on #100
@geeksville Thanks very much.

@mrpollo - do you want to add it back or should we just document vehicle.commands[0] gets the right value? My preference is to add it back to make it more visible.

While we're at it, can/should we make this have a setter as well? That makes sense to me because then you could easily change the home position outside of missions.

[2015-05-12 23:39] hamishwillee commented on #89
Thanks @geeksville

@mrpollo I think "we" should add this. The question is, will it be done in a timely manner, or should I update the documentation now to reflect that it is not possible right now?

[2015-05-13 01:25] mrpollo commented on #89
update docs to reflect current state of API and please create a new issue assigned to me to add this feature

@geeksville thanks!

[2015-05-13 02:19] hamishwillee opened #104 "Add guide topic on debugging"
Covering print statements, pdb (Python debugger), anything else we can come up with.

[2015-05-13 02:23] hamishwillee commented on #104
I have created a tmp branch/commit for this  [here](https://github.com/hamishwillee/dronekit-python/commit/f7f4ccf761c0431aea69c72ef472bc5918893aa8). This is not yet pushed because I'm waiting for other requests to go in so I can update the index at the same time without having to think about merging.

This covers prints and pdb. I don't have information on other approaches so I have added a secti

[2015-05-13 03:27] hamishwillee commented on #71
Closing as this is dealt with by #101 and #102.

[2015-05-13 03:27] #71 closed

[2015-05-13 03:34] hamishwillee opened #105 "Implement Vehicle.waypoint_home"
Vehicle.waypoint_home was in the original documentation, but is not present in the implementation (MPVehicle). According to @geeksville (#100)

Action is to add an implementation for getting this value. Also to consider adding a setter - that makes sense to me because then you could easily change the home position outside of missions.

[2015-05-13 03:51] hamishwillee opened #106 "Propose delete the client_sketch.py"
[client_sketch.py](https://github.com/diydrones/dronekit-python/blob/master/example/sketch/client_sketch.py) should be deleted because it almost exclusively consists of either out of date methods like rc_overrides or future methods that are not implemented.

@mrpollo - Agree?

[2015-05-13 04:01] hamishwillee opened #107 "Add implementation for observer methods in Parameter class"
Add implementation for add_attribute_observer and friends in Parameter class so that changes to parameters can be observed.

[2015-05-13 04:02] hamishwillee commented on #89
OK, #107 is the issue for the missing functionality. Am assigning this to me to fix the problem.

[2015-05-13 04:32] hamishwillee commented on #99
Closed by #108

[2015-05-13 04:32] #99 closed

[2015-05-13 04:32] hamishwillee commented on #89
Documentation fixed by #108. Closing.

[2015-05-13 04:32] #89 closed

[2015-05-13 04:32] hamishwillee commented on #103
Closed by #108.

[2015-05-13 04:32] #103 closed

[2015-05-13 04:32] hamishwillee commented on #100
Closed by #108

[2015-05-13 04:32] #100 closed

[2015-05-13 04:33] hamishwillee commented on #101
Closed by #108 - just deleted them from the docs as they were manually added (not actually attributes in the class definition)

[2015-05-13 04:33] #101 closed

[2015-05-13 06:08] hamishwillee opened #109 "Rename small_demo.py example to vehicle_state.py and document"
The [small_demo.py](https://github.com/diydrones/dronekit-python/blob/master/example/small_demo/small_demo.py) example contains information about getting and setting vehicle state and parameters (including the rc_overrides). This should be renamed to explain what the content is actually about. I am proposing "vehicle_state.py" because the name "state" can be used to imply this is about both the dy

[2015-05-13 07:31] hamishwillee opened #110 "Vehicle notifier should only allow a callback to be added/removed once for a particular attribute"
``Vehicle.add_attribute_observer`` will add an observer as many times as it is called, and  ``Vehicle.remove_attribute_observer`` will remove as many instances of the observer as times it is called.

IMO you might want to assign multiple observers to the same attribute, but I would expect them to be different. You might in theory want to also apply the same observer to multiple attributes. However

[2015-05-13 10:08] ggregory8 opened #111 "Number of vehicles connected check"
Hi I can't seem to find if there is a way to detect if any vehicles are connected. I can connect with the following commands:
[code]
But sometimes I find I lose my serial connection to the UAV. So mavproxy will load but not connect to any vehicle. I then want to detect that in my custom module.

Any current functionality to support this?

[2015-05-13 11:50] hamishwillee commented on #111
I don't think there is anything explicit in the API. However almost every value within the attributes (e.g. Location, gps_0 etc will have a None value, and if you try to get the mode in this case (ie v.mode) then there will be an exception: ``APIException("Vehicle did not complete initialization")``. So perhaps these could be good indicators?

@mrpollo Ideas? I believe there is a MAVLink heartbeat

[2015-05-13 12:01] ggregory8 commented on #111
Thanks for the reply. Yes that's exactly what I resorted to,  checking the mode attribute for None.

I think adding something to the api is needed. Maybe returning number of vehicles connected for future Multi-vehicle use.

[2015-05-13 17:27] mrpollo commented on #111
I'm not sure if theres a way to check if the vehicle is still connected but I don't think this would be hard to add ( @hamishwillee can you add an issue for this please? ), as discussed above right now you can check for the ```None``` value on the attribute.

Also a **No Link** check should be a good addition as well

[2015-05-13 23:05] hamishwillee opened #112 "Add a Vehicle attribute for detecting link connection status."
Add an *observable* Vehicle attribute (``Vehicle.connected``) that can be used to determine if the link is active.

This should presumably be based off the MAVLink heartbeat.

[2015-05-13 23:16] hamishwillee opened #113 "Add mechanism at API connection time to determine if there is a MAVLink"
At the time a script is run the connection to a vehicle must already be configured in MAVProxy. This implies that any script run if there is no connection should fail, and can be made to fail early.

There are lots of ways this could be done, but I would expect one of the calls below to raise an exception if no proper link has been set up  (I am not sure which call makes most sense to fail). Argua

[2015-05-13 23:25] hamishwillee commented on #111
I've added #112 and #113. These catch the two cases of interest:
* The MAVProxy connection has not been set up properly
* The link on a particular vehicle is working

@ggregory8 You can do ``len(api.get_vehicles())`` to get the count of vehicles and with #112 you will be able to iterate to get the active vehicles.

@mrpollo a "nice to have" would be to overload get_vehicles such that ``get_vehicle

[2015-05-14 04:00] hamishwillee opened #114 "DroneKit has no method for detecting command failure - do we need one?"
Currently our instructions suggest that you change the mode like this:
[code]
The problem is that after this code the write has succeeded, but the mode may not actually have been changed (and if you read back ``v.mode.name`` it may well be the old name). A better coding paradigm is to not proceed to the next step until all your conditions are met:

[code]

Note: I will change our docs and examples

[2015-05-14 07:21] hamishwillee opened #115 "No way to disable the callback set_mavlink_callback"
We can add a callback (though it is not recommended) using set_mavlink_callback but there is no way to remove it.

[2015-05-14 15:15] killerlayup opened #116 "guided_set_speed_yaw example couldn't work with a real copter vehicle"
Hi, all

Recently I ran this 'guided_set_speed_yaw' example in a real copter vehicle. It seems that it can response to 'vehicle.commands.takeoff(5)' command, but it can't work with the 'send_nav_velocity(velocity_x, velocity_y, velocity_z)'. The copter has no response when it receives the command. However, this example can work very well in simulator. This is really confused me.

In 'https://githu

[2015-05-14 17:23] mrpollo commented on #116
Hi @killerlayup what ArduCopter version where you using on SITL? is that different from the version no your copter?, can you provide us with a log please?

[2015-05-14 20:26] hdmathias commented on #116
send_nav_velocity depends on set_position_target_local_ned which requires AC3.3. I've used it successfully on an Iris+ running AC 3.3-rc3.

[2015-05-14 22:54] hamishwillee commented on #116
If you don't want to use AC3.3, it might be possible to set velocity using http://mavlink.org/messages/common#SET_POSITION_TARGET_GLOBAL_INT on earlier versions. I haven't tested this or checked when that went in.

@killerlayup - OK for me to close this?

[2015-05-14 22:57] mrpollo commented on #116
@hamishwillee I don't think @killerlayup has responded yet, lets see what he's got to say before closing this

[2015-05-14 23:02] hamishwillee commented on #116
@mrpollo of course - I was just asking if killerlayup considers this answered :-). Note that I could mark the AC version as a requirement in the docs, but I figure that in short order most people will be using this. I will be testing the SET_POSITION_TARGET_GLOBAL_INT next week, and if that works will update the example to use it instead.

[2015-05-15 00:06] hamishwillee opened #118 "Improve DroneKit-Python Debugging"
DroneKit-Python currently allows debugging using print/log statements and with the command line pdb debugger. It is not particularly easy to use because the console interleaves MAVProxy messages and script print output with the debugging information. In addition, there is no way to launch the script in debug mode - the script has to be modified to include statements that start the debugger once it

[2015-05-15 04:22] hamishwillee opened #119 "Update mode documentation to recommend GUIDED/AUTO"
Update [VehicleMode](http://python.dronekit.io/automodule.html#droneapi.lib.VehicleMode) reference to *recommend* AUTO and GUIDED modes.

At the moment we don't really comment on this other than to point to the supported modes. In practice though you really shouldn't be using dronekit within a manual mode (which may *require* a transmitter) unless you know what you're doing. These modes are suppor

[2015-05-15 04:43] hamishwillee opened #120 "Fix vehicle attribute description in API reference"
I think this text from the Vehicle class is wrong:

The attributes reflect current state of the device - location, gps or whatever. They aren't about "capabilities". I suspect that this is really talking about the parameters.

How about change to:

"Most vehicle state is exposed through python attributes (e.g. ``Vehicle.location``), while vehicle capabilities/settings are accessed though named ele

[2015-05-15 11:47] ggregory8 opened #121 "Failed to load module: No module named google.protobuf.internal"
Hi I'm getting a ```Failed to load module: No module named google.protobuf.internal``` error when trying to load the droneapi module in mavproxy.

I did have the droneapi working but because I installed as root it put the .mavinit.scr file in /home/root. I since set up a user account. I then uninstalled the droneapi package then reinstalled from px4 login with sudo. Now the droneapi isn't working

[2015-05-16 02:35] codywburns commented on #121
I am also having the same problem. I attempted to manually install python-protobuf, but I still get an error that it is missing enum_type_wrapper when loading mavproxy.

[2015-05-16 04:50] codywburns commented on #121
I found the fix.
Mine was failing during the pip install phase because it was not finding "../src/google/protobuf/unittest.proto"
The protobuff git put out a fix 9 days a go that involved adding an if statement in the setup.py file to ignore the unittest section if you are not working on dev. Worked like a charm!

https://github.com/google/protobuf/commit/e4f4d9fe83887b08b0db67512947645324826755

[2015-05-16 23:19] hamishwillee opened #122 "Ensure that Companion Computer docs or DK docs cover installation of files to UAV."
Make sure the docs explain how to install and run scripts on a real device.

[2015-05-17 11:49] killerlayup commented on #116
Hi, mrpollo
here is my log when I connect my real ArduCopter:
odroid@odroid:~$ mavproxy.py --master=/dev/ttyUSB0 --baudrate 1500000 --aircraft   MyCopter
Connect /dev/ttyUSB0 source_system=255
MyCopter/logs/2013-01-01/flight26
Logging to MyCopter/logs/2013-01-01/flight26/flight.tlog
Running script /home/odroid/.mavinit.scr
-> module load droneapi.module.api
DroneAPI loaded
Loaded module droneapi.m

[2015-05-17 12:04] killerlayup commented on #116
Hi, @mrpollo @zlite @eliao @hamishwillee @hdmathias

The copter can response the 'takeoff' command. I check the 'takeoff' command and find it is defined in api.py:

    def takeoff(self, alt=None):
        if alt is not None:
            altitude = float(alt)
            self.__module.master.mav.command_long_send(self.__module.target_system,
                                                    self

[2015-05-17 23:20] hamishwillee commented on #116
@killerlayup FYI, the "Command long send" is just a package for one of the other commands - so the actual command that is processed here is MAV_CMD_NAV_TAKEOFF (and yes [it is supported](http://planner.ardupilot.com/wiki/common-planning-a-mission-with-waypoints-and-events/common-mavlink-mission-command-messages-mav_cmd/#copter-2) )

What mode were you in when you tried to take off? If you were in

[2015-05-18 01:24] hamishwillee commented on #121
@mrpollo - assigned to you - something to fix in our installation?

[2015-05-18 01:34] killerlayup commented on #116
Hi, @mrpollo @zlite @eliao @hamishwillee @hdmathias

I just ran the 'guided_set_speed_yaw' example.  The script sets mode 'STABILIZE' and armed, then
sets mode 'GUIDED' and takeoff, then run the command 'condition_yaw' and 'send_nav_velocity'.

when the script runs, the copter can takeoff to the desired altitude but then the copter only hover and didn't response to the following command. But the t

[2015-05-18 02:06] hdmathias commented on #116
What is the value of the mask (or is it flag?) parameter to your set_position_target_local_ned command in send_nav_velocity?  If it's 0, that is likely why that command isn't working. Unfortunately, it doesn't explain why condition_yaw fails to work.

Interesting that you can takeoff in GUIDED mode. Since uploading AC3.3, I can't. What firmware are you using?

[2015-05-18 02:15] killerlayup commented on #116
Hi, @hdmathias

the flag is 0b0000111111000111 just like the example.
my copter version:
APM: ArduCopter V3.3-dev (73e1719e)
APM: PX4: 4cc6120e NuttX: eba6b56f
APM: Frame: QUAD
APM: PX4v2 00300037 30345108 31323737
Flight battery 100 percent

pls help me .

thanks

[2015-05-18 02:27] killerlayup commented on #116
Hi, @hdmathias

what's your firmware version?

[2015-05-18 02:28] mrpollo commented on #116
@killerlayup at this point I would need to see your code, can you post a gist please?

[2015-05-18 02:29] killerlayup commented on #116
@mrpollo

which part of code do you need to see?

[2015-05-18 02:30] mrpollo commented on #116
the offending code that caused you to open this issue please

[2015-05-18 02:31] hdmathias commented on #116
I'm running 3.3-rc3. Your mask is the same as what I use.

[2015-05-18 02:33] ggregory8 commented on #114
Hi, I agree there should be some method to identify whether a command has failed.

Another common example is arming failing. As mentioned above an easy workaround is issuing the command then polling the state until it is set, an timeout would allow you to detect this has failed but is messy also.

Are there currently any functions to handle command acknowledges?

[2015-05-18 02:35] killerlayup commented on #116
@mrpollo
I just ran the  'guided_set_speed_yaw' example in this repository.
I think maybe my firmware causes the issue.
I download my firmware in site http://firmware.diydrones.com/Copter/beta/PX4-quad/
Is this right way to download the firmware?

[2015-05-18 02:49] killerlayup commented on #116
Hi @hdmathias

would you pls provide the 3.3-rc3 firmware download site address?

thanks!

[2015-05-18 02:53] hdmathias commented on #116
I install firmware using MissionPlanner. On the firmware tab there's a link for beta versions.

[2015-05-18 03:18] hdmathias commented on #116
I just looked at that example. I think I read somewhere that there's a problem with z velocities in the set_position_target_local_ned command. I've always used 0 for the z velocity so I can't confirm or refute that.

[2015-05-18 03:24] mrpollo commented on #116
@killerlayup we don't yet fully support PX4, we only test using Ardupilot https://github.com/diydrones/ardupilot

[2015-05-18 03:37] hdmathias commented on #116
@mrpollo so it works with z velocities on a real vehicle?  Good to know -- I've been afraid to test it.

[2015-05-18 03:38] zlite commented on #114
Adding Fredia,  the Droidplanner/Tower lead,  who has been thinking about
the same thing.
On May 17, 2015 7:33 PM, "ggregory8" <notifications@github.com> wrote:

[2015-05-18 03:48] killerlayup commented on #116
@mrpollo

well, where should download and install the fireware on a real vehicle?
using Mission Planner or some other way?

[2015-05-18 04:13] ne0fhyk commented on #114
If the command (i.e: arm) is sent to the autopilot via the [`COMMAND_LONG`](https://pixhawk.ethz.ch/mavlink/#COMMAND_LONG) mavlink message, as done in DroneKit-Android, then the autopilot will reply with a [`COMMAND_ACK`](https://pixhawk.ethz.ch/mavlink/#COMMAND_ACK) message to give feedback whether the command was executed.

This mechanism can be used to detect if the command successfully reached

[2015-05-18 04:16] hamishwillee commented on #114
Yes. I've been thinking it might be good to change our generic send_mavlink to being a message that has a callback, passing that response on return.

The problem would be to decide how you might make that work well with our current model of having settable python attributes - it might be that we need to have another model in this case.

[2015-05-18 04:23] ne0fhyk commented on #114
I'm not familiar with the python threading model, but using the described mechanism, it's possible to implement a synchronous api in java by having the executing thread block on a lock, and have it awaken by a watchdog thread when the result is confirmed, to continue execution.

However with DroneKit-Android, I decided to go with an asynchronous api as blocking on the executing thread is a no-go o

[2015-05-18 06:52] hamishwillee commented on #87
Closed - is just armed and mode.

[2015-05-18 06:52] #87 closed

[2015-05-18 07:23] hamishwillee opened #123 "Add section/link in Debugging topic to observers docs about logging"
When Debugging topic is live and attribute observers "fixed" it makes sense to link to the attribute observer topic.

Perhaps could put in example of a "generic" observer.
[code]
We should also put in link to the mavlink message callback, but only when API exists to disable it.

[2015-05-18 18:20] #104 closed

[2015-05-18 18:21] mrpollo commented on #119
:+1:

[2015-05-18 18:22] mrpollo commented on #120
@geeksville what do you think?

[2015-05-18 18:25] mrpollo commented on #121
@codywburns thanks for the report, can you create a different issue for your problem please? even if its solved already

[2015-05-18 19:44] codywburns opened #125 "fails to find "../src/google/protobuf/unittest.proto" during pip install"
During installation on Intel Edison,  it is failing during the pip install phase because it is not finding "../src/google/protobuf/unittest.proto"

This causes a 'Failed to load module: No module named google.protobuf.internal' error when trying to load the droneapi module in mavproxy.

The error is caused by ['protobuf >= 2.5.0' ],which pulls the pip protobuf and still has line 73 as:

    def Ge

[2015-05-18 19:46] codywburns commented on #121
no problem

[2015-05-18 20:08] mrpollo commented on #121
@ggregory8 did you uninstall both ```droneapi``` and ```mavproxy```?, also when you installed them again under your user **px4** did you re/install both using ```sudo```?, do you know the contents of ```$PYTHONPATH```?

[code]

[2015-05-18 20:31] mrpollo commented on #122
I think putting your code into a companion board should be a given and everyone should handle it as their setup best allows them to on a DIY setup, if we are talking specifically about Solo then it should be noted that Solo has many components and that it probably is going to be a different setup to what is currently out there, I think we would need to offload this to the Solo SDK docs on how to m

[2015-05-18 20:32] mrpollo commented on #123
What would you say is a good use for a generic observer?

[2015-05-18 20:39] mrpollo commented on #97
we should probably remove it

[2015-05-18 20:41] mrpollo commented on #106
dup from #97

[2015-05-18 20:41] #106 closed

[2015-05-18 22:49] hamishwillee commented on #114
Thanks! AFAIK both models are possible on Python. Its really more a question of how we want people to be able to use the API - and move away from our dead simple but not quite effective approach. A question for @mrpollo

[2015-05-18 22:56] hamishwillee commented on #123
It would be useful if you want to handle all callbacks in exactly the same way. Off the top of my head, the only thing I can think of is logging, hence this post. So code below is much more compact than separate duplicate callbacks.

[code]

[2015-05-18 23:17] hamishwillee commented on #122
Personally I think mid-term we should integrate with Mission Planner or Tower to handle the upload - possibly with the DroneKit setup configuring the companion computer to support the upload method.

More than happy to wait on Solo.

[2015-05-19 04:36] hamishwillee opened #128 "Review instructions and ensure that platform-specific instructions are clearly identified"
I had a discussion with Tridge, Randy, Grant about what mode is recommended on the different platforms.

The answer was that on Copter you use "AUTO" for normal waypoint missions, and "GUIDED" for "special" or dynamic behaviour ("follow balloon" whatever). Copter has support for mission and other commands in GUIDED mode.

For Plane, many commands don't make sense (e.g. you can't specify an arbitra

[2015-05-19 11:31] hamishwillee opened #129 "Attribute for vehicle type?"
The way that you code can be quite different for Plane vs Copter - the modes are different and other things like the frame of reference can change.

@mrpollo Do we need a way to tell what sort of vehicle we are connected to so conditional code can be run? My feeling is "probably not" for companion computer code, but that someone wanting to write code to run on a GCS might find it useful.

[2015-05-20 04:31] ggregory8 commented on #121
@mrpollo Sorry about delay, have been away. Yes I had uninstalled both droneapi and mavproxy and reinstalled using sudo. Just tried again with same results.

I noticed during pip install that I am getting same error as @codywburns. So I followed his advice as per issue #125 and it is now working.

Also ```echo $PYTHONPATH``` hasn't showed anything, even before I was having this issue. Is there ano

[2015-05-20 05:16] hamishwillee opened #130 "Vehicle.location reports incorrect is_relative value for Copter"
If you print out the location (on SITL) then you get:

* Copter: Location:lat=-35.3632507,lon=149.1652309,alt=0.0,is_relative=False
* Plane: Location:lat=-35.3632507,lon=149.1652309,alt=584.309997559,is_relative=False

The copter is_relative setting value is clearly wrong, since we're not at sea level.

[2015-05-20 05:18] hamishwillee opened #131 "Vehicle.location - values should be settable or reflect current frame"
If you print out the location (on SITL) on the ground then you get:

* Copter: Location:lat=-35.3632507,lon=149.1652309,alt=0.0,is_relative=False
* Plane: Location:lat=-35.3632507,lon=149.1652309,alt=584.309997559,is_relative=False

Generally speaking it would be best to be able to get most locations either settable, or even better, relative to the current frame of reference being used to drive th

[2015-05-20 07:02] killerlayup commented on #116
Hi, guys

I update the AC firmware and get everything right!

thank you guys!

[2015-05-20 07:03] #116 closed

[2015-05-20 08:04] hamishwillee opened #132 "Vehicle.commands is throwing away the first command sent"
The first command set in the mission is being discarded (probably by DroneKit). The following code shows how to create  a number of missions, starting with takeoff.

[code]

The output below shows the missions as sent, and the missions that are then re-retrieved from the vehicle. The first mission item is simply discarded (the first mission item is now the home)

[code]

This is a serious bug! I s

[2015-05-20 08:12] hamishwillee commented on #116
Awesome! Thanks for letting us know

[2015-05-20 17:17] mrpollo commented on #132
Thanks for the report @hamishwillee I'll look into this.

I think this also brings up another topic we haven't properly discussed "Unit Tests", if we have a setup for unit tests we can probably tests this behavior and apply a fix/test, but lets create another issue for that

[2015-05-21 01:10] hamishwillee commented on #132
Hi @mrpollo

Some simple test code showing the problem (visual inspection only) can be found  [here](https://github.com/hamishwillee/dronekit-python/blob/withhamishtests/hamishtests/test_commands.py).

Yes, we do need to talk about Unit tests, and that would have found this problem. I don't think some of this will be easy though because even simple testing like checking arming can be dependent on

[2015-05-21 02:52] hamishwillee commented on #72
Pull #124 will fix the small_demo.py case. I have left the RC override stuff there, but it is very clearly marked as "do not use".

[2015-05-22 05:19] hamishwillee opened #133 "Methods to get distance to target and from home"
It is useful to be able to perform actions based on distance to target or distance from home. It would also be useful to be able to get a callback when the distance from target/home is a certain value.

While the maths for determining distances is fairly straighforward, this is probably required often enough that providing an API makes sense.

[2015-05-22 06:01] hamishwillee commented on #111
Closing this, as the requirement captured by the new issues

[2015-05-22 06:01] #111 closed

[2015-05-22 06:03] hamishwillee commented on #52
We have this now

[2015-05-22 06:03] #52 closed

[2015-05-22 06:04] hamishwillee commented on #76
This was addressed in an earlier pull request

[2015-05-22 06:04] #76 closed

[2015-05-22 06:05] hamishwillee commented on #73
#124 fixes the small_demo case.

[2015-05-22 06:08] hamishwillee commented on #70
#134 adds the method to the documentation as part of the "class docs". I'm leaving this open because even though this will fix the documentation it doesn't do it in the right way - which is to add the method into the __init__.py .

[2015-05-28 16:28] mrpollo commented on #60
https://github.com/diydrones/dronekit-python/blob/master/droneapi/module/api.py#L440

[code]

not sure why we did this, @geeksville do you remember this?

[2015-05-28 17:07] #109 closed

[2015-05-28 17:08] #119 closed

[2015-05-28 21:59] geeksville commented on #60
Using heartbeat to detect mode changes is a good thing.  But yep, it would be much better to also keep a cache of mode and armed inside of the vehicle object and only publish mode and armed if the corresponding boolean changes state.

[2015-05-28 22:43] mrpollo commented on #60
perfect, I think this is what @eliao is calling **odd** here, I'll submit a PR with some caching, if the mode is still the same we won't publish ```__on_change('mode')``` same with **armed**

[2015-05-28 22:47] hamishwillee opened #136 "Build seems to have reverted to old reference and theme"
The build isn't right after #124 - unrelated to that particular push though.
See http://python.dronekit.io/automodule.html - this is the old API reference (like months!)

Also there are big spaces above the level 2 headings, which were removed by current theme.

Something not right!

[2015-05-29 01:54] hamishwillee opened #137 "Check documentation for new battery feature"
The new battery featured added in #135

* API reference - tidy Battery class docs if needed and add Vehicle.battery member
* Guide/Examples - make sure that this feature is documented in the guide and examples where relevant - e.g. http://python.dronekit.io/guide/vehicle_state_and_parameters.html

[2015-05-29 07:24] maruina commented on #137
Do you have guidelines for writing the documentation? I can fix the documentation for the battery object.

[2015-05-29 08:36] hamishwillee commented on #137
Hi @maruina
Probably easier for me to do this. It isn't because I don't think you can't do it, its because I just completed the sections I want to update so I know I can do it very quickly. Thank you

[2015-05-29 09:48] maruina commented on #137
Sure, no problem!

[2015-05-30 11:31] AkshayBudhiraja commented on #114
Has there been any progress with regards to the direction DroneKit might be taking with this?

Command failure detection is absolutely crucial be it through a having a callback for send_mavlink or having other asynchronous calls for critical applications.

[2015-05-31 18:58] ne0fhyk commented on #114
@AkshayBudhiraja DroneKit-Android is in the process of adding the implementation discussed above, which will allow support for explicit callbacks.

[2015-05-31 23:20] hamishwillee commented on #114
@AkshayBudhiraja Not implemented yet on DroneKit-Python. We do consider it important an will be prioritising it in the coming weeks.

[2015-06-01 00:24] hamishwillee commented on #133
Acutally, more generically would probably be good to be able to shove in any two Location objects and get the distance (maybe both as single number at ground level (ie x, y plane) and as an x, y, z)

[2015-06-01 00:41] hamishwillee commented on #102
Closed by #135

[2015-06-01 00:41] #102 closed

[2015-06-01 01:46] hamishwillee commented on #137
Hi @maruina @mrpollo

I've created [draft documentation](https://github.com/hamishwillee/dronekit-python/tree/tmp-battery-docs) which you [can view here](https://dl.dropboxusercontent.com/u/3067678/share2/dronekit-python/html/automodule.html#droneapi.lib.Vehicle.mount_status).

Some questions:

1. I refer to this as "system" battery information, based on the fact it comes from [SYSTEM_STATUS](http

[2015-06-01 02:41] hamishwillee commented on #137
@mrpollo @maruina
I just tested the battery call by modifying the vehicle_state.py example to add the line:
[code]

This failed in  new code as shown below (thoughts please):

[code]

[2015-06-01 23:50] hamishwillee opened #141 "Automodule rebuilding ALWAYs returns to an old version"
Hi Ramon

Old version of API ref up AGAIN http://python.dronekit.io/automodule.html

Can we fix this once and for all?

Cheers
H

[2015-06-02 00:05] mrpollo commented on #141
lets move this to the dronekit docs repo

[2015-06-02 00:05] #141 closed

[2015-06-02 16:29] #137 closed

[2015-06-02 18:56] mrpollo opened #144 "README.md has broken links"
there are some left over links to guides that were recently removed, this is related to #91

[2015-06-03 08:10] maruina opened #150 "Add VFR_HUD info"
I'd like to add the support for all the info you can find under [VFR_HUD](https://github.com/mavlink/mavlink/blob/master/message_definitions/v1.0/common.xml):
* airspeed
* groundspeed
* heading
* throttle
* climb

I have a PR ready with a new class, HUD. If you think it's better to add these as vehicle's attributes, I will change my code and submit a PR.

[2015-06-03 08:30] hamishwillee commented on #150
Well, airspead, and groundspeed are already in the vehicle class. I think that velocity gives you the three elements for a heading (or were you thinking something else)?

What is the climb? Pitch angle? Is this something that you can get from Vehicle.attitude? Or again, is it an element from the velocity value?

For throttle, are you after the current channel value? This can be set using channel_o

[2015-06-03 08:39] maruina commented on #150
The heading is where the copter is looking: it's an integer between 0 and 360 where 0 is the north. I use it show the heading of the drone on google maps and it's very useful.
The throttle is the current throttle setting in integer percent (0 to 100), and it's useful to have a quick reference.

Since I wanted to add some attributes and they are all grouped under the same mavlink message, I thought

[2015-06-03 22:27] hamishwillee commented on #150
Hi @maruina
Thank you for the explanation. I guess this is kind of a "philosophical" question - Python tends to promote just one way to do stuff, and having separate classes duplicates information. On the other hand, if the aim is to provide a nice wrapper for sending MAVLink commands, then it makes sense to map the MAVLink command structure.

Thinking about it I'm not sure which is better design.

[2015-06-03 23:35] maruina commented on #20
I'd like to start working on this.

@hamishwillee @mrpollo do you have some thoughts on that? It's late in Italy and I will look at it more carefully tomorrow, but my first idea is to consider ROI waypoints the same as [Command](http://python.dronekit.io/automodule.html#droneapi.lib.Command)

[2015-06-04 00:27] rmackay9 commented on #20
ROI does persist through a mission by the way in the current official version (AC3.2.1) and higher.

By the way are people here logged into gitter?  https://gitter.im/diydrones/dronekit-python
Some people use it and I think it's the best place for live chat related to dronekit.

[2015-06-04 00:32] hamishwillee commented on #20
@rmackay9 probably here is not a bad place to discuss specific features though :-) So maybe feasibility check in gitter first, then post here to track activity and get "sign off"

@maruina As Randy says, you can already set a ROI waypoint as a waypoint command in AUTO mode and it will persist through the mission.

It is also possible to send the MAV_CMD as a custom command in GUIDED mode. However

[2015-06-04 14:00] maruina commented on #100
I have a couple of doubts:
* What should be the type of waypoint_home? A Location instance? An array with lat, lon, alt?
* Let's say that I set a waypoint_home and then I create a mission: should my home overwrite vehicle.commands[0] or vice versa? Or should be they always kept separate from each other? Should my waypoint_home be None unless I set a mission?

[2015-06-04 14:17] jmacgithu commented on #133
More generally, there are a bunch of functions that could be imported from the ardupilot autotest [common.py] (https://github.com/diydrones/ardupilot/blob/master/Tools/autotest/common.py) file as they might be useful... I.e. `get_distance(loc1, loc2)` and the `wait_*` ones...

[2015-06-04 16:16] a7scenario opened #151 "DroneKit's goto() function should have a local/relative option vice only using absolute coordinates"
I want to call goto() and have it move the drone "20 meters north of current position".  If I'm not mistaken, to do this in DroneKit, I think you have to either first figure out a way to convert your local command ("20 meters north") to absolute lat/lon OR use DroneKit's messagefactory to build a regular mavlink message.  I think relative movements of the drone is something that would warrant a si

[2015-06-04 17:54] djnugent opened #152 "Installing dronekit-python(windows) instruction issues"
The docs for droniekit-python windows should specify that the user run the winpython installer as an admin and that they run command-prompt as an admin. If the user is not admin they will get stuck very quickly.

Also a note about the winpython install location: If you open the installer from your downloads folder then it defaults to install in the downloads folder unless the user specifies anothe

[2015-06-04 18:40] djnugent commented on #152
I was also unable to run mavproxy properly with winpython 3.4.3.3. I used 2.7 instead http://sourceforge.net/projects/winpython/files/WinPython_2.7/2.7.9.5/

[2015-06-04 19:29] mrpollo commented on #151
agreed that ```is_relative``` is somewhat deceiving we need to make sure this works as expected.

```SET_POSITION_TARGET_LOCAL_NED``` can be used to move 20 meters if you set it to ignore accel and velocity by using a type_mask for that

[2015-06-04 19:29] mrpollo commented on #151
@rmackay9 can confirm

[2015-06-04 20:24] mrpollo commented on #152
@djnugent i think WinPython version numbers are matching Python version numbers, we currently don't support 3 yet, 2.7 should be fine.

[2015-06-04 20:40] djnugent commented on #152
@mrpollo I made a mistake. I just clicked on the link again and I see where I went wrong. Winpython recommends to download the most recent version, so I clicked that before I even saw the 2.7 download lower on the page. Oops

[2015-06-05 03:19] hamishwillee commented on #151
The is_relative is documented correctly. I'm not sure how you would "fix" it because most NAV commands expect the frame to be MAV_FRAME_GLOBAL_RELATIVE_ALT (ie only the ALT is relative). I guess you could make all values relative, but you'd need to translate what is coming back from the autopilot.

My understanding is that this is correct. There is an example of the VELOCITY being set in the [exam

[2015-06-05 03:30] hamishwillee commented on #100
@maruina All good questions. I would say

Yes, a Location instance.

The home position is (currently) stored in the 0th waypoint, and is automatically set by the autopilot, usually when it first gets GPS lock (though sometimes it is set at takeoff or when arming occurs - not sure). I THINK that you can't upload your own value for this, but that is worth checking.

So I recommend doing some testing

[2015-06-05 05:21] hamishwillee commented on #152
I have updated the quickstart to explicitly recommend Python v2.7. This should be fixed by https://github.com/diydrones/dronekit-python/pull/149

[2015-06-05 07:13] hamishwillee commented on #133
@jmacgithu yes, they look very useful. @mrpollo thoughts - best way to integrate?

[2015-06-09 02:21] hamishwillee opened #153 "Fix layout of loading API"
In [Getting Started](http://python.dronekit.io/guide/getting_started.html)

![image](https://cloud.githubusercontent.com/assets/5368500/8049385/07c046c8-0ea2-11e5-9ebc-e25343840eb1.png)

[2015-06-09 05:45] hamishwillee commented on #153
@mrpollo The source file here is correct, and so is the HTML. Unfortunately the paragraph is not being rendered:
![image](https://cloud.githubusercontent.com/assets/5368500/8051333/7e67893c-0ebe-11e5-9c24-4b41c4b63cc2.png)

So this is a theme/CSS problem. As I still can't build the theme, handballing to you!

[2015-06-09 17:53] sky129225 opened #154 "is dronekit-python api only for Mavproxy?"
I wonder if there are any other use cases for droneapi. and if I don't want to use mavproxy, does it mean I have to write my own mavlink layer? and how can i do it

[2015-06-09 17:58] djnugent commented on #152
Another issue with the quickstart: Windows does not come with a ssh client installed, this makes "vagrant ssh" throw an error.
Solution:
Download Putty
Connect to 127.0.0.1:2222
username: vagrant
pass: vagrant

[2015-06-09 19:22] djnugent commented on #152
Step 7 in the quick start instructs the user to configure mavproxy using "echo... >> some file"
However, prior to step 7, there is no mention of mavproxy and how to install it.

[2015-06-09 19:26] mrpollo commented on #154
Hi @sky129225 there have been talks of moving the core of MAVProxy into a library and use that instead as to have DroneKit be a standalone, work on that hasn't been made but we would be happy to guide you through the changes needed if you feel like working on it makes sense to you, come find us on Gitter https://gitter.im/diydrones/dronekit-python and or reply here

[2015-06-09 19:31] mrpollo commented on #152
@djnugent can you break this into separate issues, it's ok to keep discussing windows only instructions here

[2015-06-09 19:32] djnugent commented on #152
Oh yeah forgot this was windows and not quick start oops.

[2015-06-09 20:08] djnugent opened #155 "Quick Start bugs"
1. Make it more clear that quick start is explicitly windows only. Don't even mention other operating systems. Or have a quick start for as OS's.

2. Step 5 does not work with native windows because windows does not have a SSH client installed
Solution: Install putty, Connect to 127.0.0.1:2222, username: vagrant, password: vagrant

3. Step 7 in the quick start instructs the user to configure mavpr

[2015-06-09 20:23] tcr3dr commented on #155
I would second the proposal of creating a unified Getting Started / Quick Start guide, or ideally, a Quick Start section composed of specific instructions for each OS (Windows, Linux, OS X) or setup (Companion Computer) Dronekit is targeting. This moves technical rigor and information to later sections of the guide, as well as generally improving what we've seen of user testing so far.

[2015-06-10 02:31] sky129225 commented on #154
I wonder if there are any other use cases for droneapi. and if I don't want to use mavproxy, does it mean I have to write my own mavlink layer? and How do I start to Compile the code?
 api = local_connect()
vehicle = api.get_vehicles()[0]
 i think i just to compile the above code to create the new mavlink layer
 my Program is use "mavutil.mavlink_connection(port, baud, autoreconnect=True)"As conne

[2015-06-10 04:20] hamishwillee commented on #154
Hi Sky

What use cases do you have in mind?

Yes it does.

As @mrpollo says, you will need to discuss the detail with us, and probably gitter is the place to do that.

The detailed instructions are still waiting a pull request #149 to be merged. In summary you need to clone this repo, and then you can build using the following commands (on linux)
[code]

vehicle = api.get_vehicles()[0]
i think i j

[2015-06-10 04:26] #144 closed

[2015-06-10 04:39] hamishwillee commented on #154
@sky129225 The topics on how to build the source [can now be found in the documentation here](http://python.dronekit.io/contributing/index.html)

[2015-06-11 03:53] hamishwillee commented on #155
@tcr3dr @djnugent A quick start is a set of focused instructions to set up DK for running scripts in the the shortest time/effort. It avoids most of the explanation of how and why you do things because the aim is not to show people how to configure for different systems, but to have an environment they can play with very quickly to test script ideas and to test our examples.

In the original versi

[2015-06-11 07:02] hamishwillee commented on #155
@djnugent @mrpollo @tcr3dr Please check out [this proposed update on my drop box](https://dl.dropboxusercontent.com/u/3067678/share2/dronekit-python/html/guide/getting_started.html) to address the above concerns (it is not 100% done, I'm just after feedback).

The changes are that I have

* removed the QuickStart
* Created a new topic for [setting up SITL](file:///C:/Users/hamis_000/Documents/vagr

[2015-06-11 09:17] hamishwillee commented on #152
I think this is addressed, or will be by #155. OK to close?

[2015-06-11 09:26] hamishwillee commented on #39
Closed, because transferred to theme repo (23 above)

[2015-06-11 09:26] #39 closed

[2015-06-11 18:14] zlite commented on #153
Any update on this? Seems nuts that we have to go through backflips to add a carriage return

![getting_started](https://cloud.githubusercontent.com/assets/18071/8114662/fe4109c2-102a-11e5-8ff8-872f2ba335d7.png)

[2015-06-11 18:25] djnugent commented on #152
Do we want to add anything about admin access or install location. Can anyone verify my claims?

[2015-06-11 18:30] djnugent commented on #155
@hamishwillee looks great! Much more clear.

[2015-06-11 18:37] mrpollo commented on #153
our great @kaitlynhova is taking a look at this, she has some fixes in place right now and will push once she feels she's got them all sorted, I'll post back with update.

[2015-06-11 22:10] hamishwillee commented on #153
@zlite @mrpollo This is now fixed on the live version. Thank you @kaitlynhova

[2015-06-11 22:10] #153 closed

[2015-06-11 22:16] hamishwillee commented on #152
Adding the admin and install stuff to #155 and closing this.

[2015-06-11 22:16] #152 closed

[2015-06-11 22:18] hamishwillee commented on #155
@djnugent Thanks very much. We may have to hack it more as this evolves, but I think separating out the vehicle simulation stuff does make this more clear.

I will tidy, address https://github.com/diydrones/dronekit-python/issues/152#issuecomment-111231852 (admin and location stiff) and then submit a push request.

[2015-06-11 23:19] hamishwillee commented on #155
@djnugent OK, addressed the run as admin/where to install on WinPython issue. You can see [version of this on my dropbox here](file:///C:/Users/hamis_000/Dropbox/Public/share2/dronekit-python/html/guide/getting_started.html#installing-dronekit-on-windows). Creating PR now.

[2015-06-11 23:23] djnugent commented on #155
Perfect

[2015-06-12 05:55] hamishwillee opened #159 "Best way to exit a script if you get into trouble?"
If my battery goes low, or if a failsafe occurs, then it is likely the vehicle will RTL. In this case my script may well still be running. What is the best method to call to exit it/how can I exit it to MAVProxy without killing mavproxy?

[2015-06-12 22:07] djnugent commented on #159
[code]
Your script ends when there is nothing else to execute. Just put everything in a while loop and provide a exit condition.

To kill the script from mavproxy run `api stop <thread #>`

[2015-06-12 22:29] djnugent commented on #159
Or for an immediate less clean method you could do this:

[code]

[2015-06-12 23:59] hamishwillee commented on #159
@djnugent Thank you very much! The real example I'm looking at is that if my code is running and we go low battery there is an automatic RTL. However my goto code will actually reset the mode to guided and there can be some fighting over control in this case.

The first example isn't really all that useful because the loop is only checked when you enter the block. If you're doing lots of things in

[2015-06-13 00:33] djnugent commented on #159
Yeah it really depends on how your script is structured.
+1 on the good coding practices.
Explain why `while not api.exit:` is important.
Explain how to check for command completion for various commands. I love "simple goto" with the arm_takeoff function. That is the proper way to use dronekit and the docs don't explain that right now.

[2015-06-13 00:46] hamishwillee commented on #159
Working on it :-)  Coding practices would be a good place for this information.

IMO ``while not api.exit:`` is another case where you'd probably be better off having a callback ... if it were observable ... because the API can in theory exit at any time. Do you think we can make it observable?

[2015-06-13 00:50] djnugent commented on #159
@hamishwillee I'm sure we could make it observable. I'm not sure how "observe" works(a separate thread??) but it would be nice if the user didn't have to worry about it.

[2015-06-13 07:39] hamishwillee opened #160 "Doc: Coding Best-Practice"
Create a topic explaining coding best-practice for dronekit-python.

Should cover:
- Usage of api.exit
- What you should do if the connection fails (though no easy way to detect that yet)
- What you should do in script if forced into RTL
- Fact that this is a lossy connection - how to check for command completion for various commands.
- Similarly, explain why callbacks not guaranteed to complete (

[2015-06-13 07:41] hamishwillee commented on #159
@djnugent This important enough to have its own topic and expand the interest - see #160. I don't know how observer works in this system, but certainly should be possible to provide some callback that people can register for and handle various failures how they like. We probably should create a separate issue. I haven't though.

[2015-06-13 14:25] zlite opened #162 "Internal links jump to location one item below intended one"
When you click on an internal link, such as the Vehicle Attributes on this page (http://python.dronekit.io/guide/vehicle_state_and_parameters.html), you are actually taken to one past the one you want. I suspect this is due to the navbar obscuring the one it thinks it's jumping to. So we'll need to add an offset to each jump

[2015-06-14 22:50] hamishwillee commented on #162
@kaitlynhova - this is a duplicate of https://github.com/3drobotics/sphinx_3dr_theme/issues/21 . Can you please ETA when you might be able to work on it?

[2015-06-16 00:08] hamishwillee opened #163 "DK Build Toolchain updates for Windows DroneKit Installer"
Update our build system to automatically create new Windows DroneKit installation packages on every rebuild. This includes:

- Establish process for Windows versioning and distribution
- CI/CD builds for Windows on each release http://www.appveyor.com/

This needs to be addressed when #161 is merged.

[2015-06-16 00:08] hamishwillee opened #164 "Guide Updates to reflect Windows DroneKit Installer"
Update the DK-Python docs to reflect the addition of new DroneKit installer for Windows. Topics to cover
- How to use it (where you get it, mapping of installer version to DK version, version of MavProxy required)
- When you use it - why use this and when use PIP package.
- Using DroneKit vs / Working on DroneKit distinction in guides for Windows

This requires #163 be completed.

[2015-06-16 00:18] hamishwillee commented on #164
With respect to "When you use it - why use this and when use PIP package.". You use this as it is the simplest approach by far and it works! We haven't got a working "full" installation via the python command prompt yet so if you want the map and console and DK you need this. (in fact for SITL only you don't since SITL will show you the map and console on windows - but if you connect from windows

[2015-06-16 00:24] hamishwillee commented on #164
@mrpollo Re

We have a clear distinction on this already based on the titles of the Building vs Installing sections and the text explaining that [Building DroneKit-Python on Windows](http://python.dronekit.io/contributing/developer_setup_windows.html) is for developing.

I am assuming here that we don't change our current [Building DroneKit-Python on Windows](http://python.dronekit.io/contributing

[2015-06-16 00:44] stephendade commented on #164
@hamishwillee

There are no differences that I am aware of. They should run exactly the same.

The install is completely independent of whatever Python environment you've got, so that won't work. If the user's custom modules require other python libraries, I'm not sure how they'd do that - maybe if those libraries were installed with their module in the MAVproxy dir.

[2015-06-16 01:02] hamishwillee commented on #164
I don't quite get that - there was a stated dependency/assumption on C:/Python2.7/ so isn't that the "Python environment you've got"? i.e. if you open the command prompt and add something from PIP wont that be useable.

[2015-06-16 01:26] stephendade commented on #164
During the build process for MAVProxy (py -> exe) for the Windows build, it takes all the dependent Python libraries (and Python itself) and bundles it all up into the exe and associated support files. Then it take all this and puts it into a setup.exe.

Thus MAVProxy (and all modules running within it) are using a "mini-Python" environment contained within the MAVProxy.exe and associated files in

[2015-06-16 01:27] stephendade commented on #164
The dependency on C:/Python2.7/ is for the initial build/compilation only.

[2015-06-16 01:43] hamishwillee commented on #164
Thank you - that makes perfect sense. I guess you might well set things up using the command prompt in order to get more control over these dependencies (rather than using the installer).

[2015-06-16 04:16] hamishwillee commented on #159
@djnugent Just tried ``api stop 1``. As far as I can tell, this just sets the api.exit so it is up to your code to "do something" to exit. As before that's not really very useful unless most of your action is in a short event loop of some kind that gets checked regularly - we will need an observer of some kind for this to work in normal code.

I also tried sys exit. This does indeed stop the threa

[2015-06-16 05:10] hamishwillee opened #165 "goto should probably be a long command"
The implementation of goto is a bit odd - for a start it is called as part of vehicle.commands.goto, which is normally for missions? Anyway, the [implementation](https://github.com/diydrones/dronekit-python/blob/master/droneapi/module/api.py#L80) currently uses mission_item_encode. My understanding is that is should use command_long (see https://github.com/diydrones/ardupilot/issues/2420)

[2015-06-16 06:10] hamishwillee commented on #165
Though maybe not - since this command is actually a mission command that happens to be run in guided mode. It is not implemented in [GCS_Mavlink.cpp](https://github.com/diydrones/ardupilot/blob/master/ArduCopter/GCS_Mavlink.cpp#L1102) so perhaps it HAS to be sent as a mission item. @rmackay9  - can you elucidate?

[2015-06-16 07:51] mhct commented on #60
@mrpollo Perhaps the cache should be done for all other properties as well, since there is no check for evaluating if they have changed or not.

[2015-06-16 10:35] hamishwillee commented on #60
@mrpollo @mhct Yes. The bug shows up on all properties not just mode.

[2015-06-16 16:48] djnugent commented on #159
Yep they have their trade offs. I briefly looked into killing the thread and it is over my head. It appears the way api.exit is implemented is the standard way to kill a thread. I think if we want more control over threads/processes, mavproxy needs to implement multiprocessing instead on threading. This may be a question for @tridge

[2015-06-17 00:02] hamishwillee commented on #159
@djnugent I think the use of api.exit to notify that the thread should kill itself is fine, as is the use of sys.exit() for the thread to do the suicide :-) What we need to make this work is:

* Making the api.exit observable so that the app can kill itself at any time (rather than forcing effective code to write a tight event loop)
* Update the api.list() function so that it detects that the kill

[2015-06-17 00:19] tridge commented on #159
Daniel, feel free to join mumble to discuss

[2015-06-17 00:29] hamishwillee commented on #159
Just a few notes from Tridge:

@djnugent - see http://dev.ardupilot.com/wiki/ardupilot-mumble-server/ for information on Mumble setup.

[2015-06-17 18:39] trsk commented on #7
I'm having the same problem. Any solutions or workarounds here?

[2015-06-17 19:51] geeksville commented on #7
Oh yes.  This was fixed some time ago.  There is now a --daemon command line parameter I added to mavproxy.  If you use that parameter mavproxy will disconnect from stdin.  cc @mrpollo

[2015-06-17 19:51] #7 closed

[2015-06-17 19:55] mrpollo commented on #7
thanks @geeksville.

@hamishwillee can we document this?

[2015-06-17 23:04] djnugent commented on #159
@hamishwillee I talked with tridge and attempted to implement a solution. We came up with a solution for the script to terminate itself with a clean exit. However, it is not possible(based on my research) for a parent thread(mavproxy) to kill a child thread(your script). The script is the only thing that can terminate itself. That is why api.exit is in place. Mavproxy can't force the script to exi

[2015-06-17 23:28] mrpollo commented on #159
There's a case where event listeners on attributes would still get fired when we exit the thread, I think this is a bug and we should squash it before labeling this as "Done", but I agree this is the only clean way of going about it.

[2015-06-18 00:23] hamishwillee commented on #159
@djnugent  Thank you! So how do I test this (where do I get the latest version, and how do I call this new form of exit?)

Agree with @mrpollo previous comment that we need to make sure that exiting the script does clean up attribute observers etc.

Having a clean way for the thread to call exit is still only part of the solution. We also need to be able to observe the api.exit so that we don't ne

[2015-06-18 02:22] hamishwillee commented on #7
@mrpollo @geeksville I'd document if I could get it to work. My understanding is that I should be able to run mavproxy from my WinPython command prompt - but when I try the following mavproxy runs as normal
[code]
Is it that you want to start mavproxy without even a command prompt somehow? If so, how is this done on Windows? If not, why would MavPorxy be running with the above command?

[2015-06-18 03:19] djnugent commented on #159
@hamishwillee I've made the changes on my local fork but something else took my attention before I could commit. Tomorrow.

@mrpollo how does the multiprocessing library sound instead of threading? That way we can terminate it if we please.

An ideal situation would youd be able to throw an exception from the parent thread to the child and then have a 'final' block in the child thread to clean  up

[2015-06-18 22:09] mrpollo commented on #159
@djnugent multiprocessing in mavproxy sounds like a nice addition you might want to talk to @tcr3dr who recently did some threading work on MAVProxy to fix some of the GUI components for OSX

[2015-06-18 23:24] hamishwillee opened #169 "API to get information back from specific commands"
At the moment we have attributes and some methods that let us query specific information from the vehicle (home position, location, gps etc). We can send MAVLink messages that "do" something - set Yaw, move to position, set servo value, etc.

What we don't have is a public method to get arbitrary information back from the vehicle. So for example I can sent a message to the API with the message ID

[2015-06-24 06:55] hamishwillee commented on #133
#170 adds some documentation for the more useful of these, so they will be in the guide shortly. I propose we close this as sorted when those changes go live.

[2015-06-24 16:59] djnugent commented on #160
This isn't really coding practice, more linux knowledge, but the biggest issue I see people encounter is import errors. They are not importing the correct packages or modules when their script runs. Honestly I don't even know the proper solution. I just know that if I mess around with my PYTHONPATH, PATH, file permissions, and project structure long enough then it will work. I think we need to pro

[2015-06-24 23:38] hamishwillee commented on #160
@djnugent I think that is definitely a good thing to include.

[2015-06-24 23:59] hamishwillee opened #171 "Takeoff command should check for NAN/Inf"
``Vehicle.commands.takeoff`` could be called with a NAN or infinite value. We should probably check for those as either might result in a fly-away vehicle.

[code]

[2015-06-25 00:02] djnugent commented on #171
How does pymavlink handle NaN or infinity?

[2015-06-25 00:07] hamishwillee commented on #171
No idea! Apparently ArduPilot doesn't check this either (according to @billbonney). My take on this is that it would be good API design to raise an exception for invalid input if NaN or Inf appears here.

[2015-06-25 00:20] djnugent commented on #171
`veh.commands.takeoff(float("nan"))` is denied by arducopter
`veh.commands.takeoff(float("inf"))` crashed arducopter or SITL!!!!

[2015-06-25 02:03] billbonney commented on #171
I think in any case where you are converting a variable using float, you need to check for NaN or Inf. best of all would be check the value for altititude is within a set range in a global prefence, where alt isn't above the legal limit like 120m for example.

[2015-06-25 05:44] hamishwillee commented on #171
@billbonney Not sure about the last point - legal limits change, and so might a reasonable alt for a different vehicle (e.g. ArduRocket :-).

[2015-06-25 07:43] billbonney commented on #171
@hamishwillee Agreed limits change, but having a default to stop flyaway from a programming mistake is a good idea I think. it's a global setting that can be changed, but its there so when you do a calculation that is way off, your drone doesn't disapear is a Good Thing. Maybe even having it set to lower value would make sense. even at 30m it seems miles away ;)

[2015-06-25 16:18] djnugent commented on #171
Cant we just read the altitude from the fence altitude parameter and have that be the limit? And if it does not exist, then limit it to 400 ft.

[2015-06-25 20:54] csmiler commented on #169
Hi Hamish,

Thanks for updating the project! I'm new to dronekit..Initially I was trying to read altitude via "vehicle.location.alt" every 0.1 sec, but it popped out 6 same readings although the drone was climbing up fast. At what rate do the vehicle attributes get updated? Alternatively I could "ask" the drone for altitude readings from on-board sensors (ultrasonic sensor for example), but your t

[2015-06-25 23:45] hamishwillee commented on #171
I think we're all agreed that we should check for invalid input indicative of programmatic error (NaN or Inf). Re fly-away I think a check of some kind makes sense, but I'd argue that it should be in ArduPilot rather than DroneKit.

IMO no - this should always be on some parameter rather than hard coded. What that parameter is would be decided by ArduPilot team, if they agree with this idea.

[2015-06-26 02:12] hamishwillee commented on #169
@csmiler This is more an autopilot question than a DroneKit question, and will be impacted by the autopilot implementation, hardware and the communication link (if you're over USB it will be potentially a lot faster than over an RF Telemetry link). DroneKit does process every message it receives. AFAIK there is nothing you can do about getting a faster rate than the comms link and hardware allow.

[2015-06-26 02:18] eliao commented on #169
@csmiler - check your stream parameters.  Especially SR0_Position:  http://copter.ardupilot.com/wiki/configuration/arducopter-parameters/#position_stream_rate_to_ground_station_sr0_position
The max stream rate is 10 hz, but yours may be set to a smaller number.  Many GCSes will set the stream rates to numbers smaller than 10 hz.

[2015-06-26 02:26] hamishwillee commented on #169
@eliao That's awesome - [the wiki](http://copter.ardupilot.com/wiki/common-optional-hardware/common-telemetry-landingpage/common-3dr-radio-advanced-configuration-and-technical-information/#mavlink_reporting) indicates that the firmware can use this information to automatically adapt the telemetry stream rates to the data rate that the radios can sustain - so does that mean the parameters just set

[2015-06-26 02:31] eliao commented on #169
I'm not sure what happens if you set the stream rates to something that your radios cannot sustain.  I assume it will start dropping messages, but I am not sure which messages get dropped.

[2015-06-26 02:36] hamishwillee commented on #20
@maruina Are you still working on this? FYI, I [documented the message here](http://python.dronekit.io/guide/copter/guided_mode.html#guided-mode-copter-set-roi).

An additional point not covered above is that the ROI is cleared on mode change, and that mode in this case also means "movement" command. So if you set ROI and then call Vehicle.commands.goto() the ROI is cleared. If you call Vehicle.co

[2015-06-26 03:18] csmiler commented on #169
@hamishwillee Thanks for the reply! (didn't expect to hear back from you so soon!) I understand there's physical limit over RF link. I'll try set_mavlink_callback() tomorrow. In fact I was looking at the function earlier today, but didn't go with it because of the conservative warning..on the other hand, I use channel_override..

@eliao That's a good point! I'll check my param. Thanks for the sugg

[2015-06-26 03:33] hamishwillee opened #173 "Add method to control vehicle using Velocity"
Velocity control is a useful and common method of control in Copter - so we should provide access through the API.

See [Velocity control](http://python.dronekit.io/guide/copter/guided_mode.html#guided-mode-copter-velocity-control) for method that might be used.

This command makes no sense in Plane/Rover so we need a  strategy for what we do if connected to those vehicles.

[2015-06-26 03:34] hamishwillee commented on #155
Quick start now removed

[2015-06-26 03:34] #155 closed

[2015-06-26 03:35] hamishwillee commented on #162
This is fixed

[2015-06-26 03:35] #162 closed

[2015-06-26 03:36] hamishwillee commented on #133
@mrpollo What do you think (see previous comment). Should we close this, or should we keep it open and plan integration of helper functions into the API?

[2015-06-26 03:45] hamishwillee commented on #19
@bbasso YOu'd be right - the command works fine in GUIDED mode on Copter and is now [documented here](http://python.dronekit.io/guide/copter/guided_mode.html#setting-the-speed).

The problem is that it isn't implemented in guided mode on Plane or Rover (which have much weaker guided mode implementations).

@mrpollo I think we should provide an API for this and/or #173, but the caveat is that we ne

[2015-06-26 03:47] hamishwillee commented on #97
The sketch is now deleted, so this can be closed

[2015-06-26 03:47] #97 closed

[2015-06-26 03:49] hamishwillee commented on #95
@zlite The instructions changed over time, and now state "To run the examples you will need to set up DroneKit as described in Getting Started. Once you have the source code, examples are started as described in the Getting Started section Running an app/example."

So is this working if you follow the instructions in Getting Started?

[2015-06-26 03:55] hamishwillee commented on #169
@csmiler Please don't use ``channel_override()`` - @rmackay9 will hunt you down :-) I've just added a bunch of documentation on the right way to do [takeoff](http://python.dronekit.io/guide/taking_off.html), [position control](http://python.dronekit.io/guide/copter/guided_mode.html#position-control) and [velocity control](http://python.dronekit.io/guide/copter/guided_mode.html#velocity-control) wh

[2015-06-26 11:04] maruina commented on #20
I had to put it on standby to work issues. Thanks for the link, I will look at it as soon as possible!

[2015-06-26 15:32] mrpollo commented on #171
I think we need to implement some validation throughout the api, since ardupilot is not enforcing this we should check against this type of problems and should be considered bugs and also reported upstream when needed.

@hamishwillee can you please report upstream?

@djnugent can you send a PR to enforce a float argument else `raise` a `ValueError` exception.

@billbonney we should definitely do s

[2015-06-26 15:45] mrpollo commented on #133
we should implement

[2015-06-26 17:20] djnugent commented on #171
@mrpollo will do

[2015-06-26 21:35] csmiler commented on #169
@eliao I checked my parameters today. SR0_POSITION was 3 Hz! But even if I changed it to 10 Hz, the stream rate seems to be the same ( 2 or 3 points per sec)..I also played with other params, but couldn't increase the rate..below is the params I am using. I turned off SR1_xxx (telemetry 2 on Pixhawk in my 3DR IRIS+ is connected to FrSky receiver) [oddly everytime I reconnect to IRIS via mavproxy S

[2015-06-26 21:45] eliao commented on #169
Are you using MAVProxy?  There's some logic in MAVProxy that automatically sets all the stream rates to 4 hz every few seconds.  You can pass it the "--streamrate=-1" option to disable this.

[2015-06-26 22:17] csmiler commented on #169
@eliao Yes I use MAVProxy. SR1_xx are set to 4 hz every time I reconnect via mavproxy, but after I manually set them to 0, they won't be reset to 4 after a few seconds, unless I disconnect and reconnect. But you are right about "--streamrate=-1"!! After I add the option, even if I reconnect the SR1_xx remains 0 except SR1_PARAMS automatically set to 10..Thanks!

The stream rate was the same though

[2015-06-26 22:24] eliao commented on #169
@csmiler - You've exhausted my knowledge.   Maybe the link is maxed out?  You might be able to turn off some other streams to see if that helps.

[2015-06-26 23:02] csmiler commented on #169
@hamishwillee Yes I see you have added so much more stuff which makes it more intuitive and helpful for newbies like me :). The cute table on the left is a huge plus! Good work! :100:

If I understand correctly, at the moment the only way to get info off the copter is to enable stream, and there is no such thing as "one-time talk" by sending one message asking for a current reading of one sensor a

[2015-06-26 23:10] csmiler commented on #169
@eliao You've helped me a lot! Many thanks! It'll be unfortunate if the telemetry can only provide this much of stream rate...I'm getting a ultrasonic sensor for altitude, maybe I'd better hook it up to a raspberry pi to get its reading rather than connect to Pixhawk and stream it..

[2015-07-06 05:56] hamishwillee opened #177 "Import/export waypoint missions"
It would be useful to import .txt files created in Mission Planner or APM Planner and export them in the same format.

[2015-07-06 07:32] hamishwillee commented on #171
@mrpollo reported issue upstream https://github.com/diydrones/ardupilot/issues/2515

I am not so sure that we should enforce this type of restriction. Mostly because I'm not sure how it should work "properly" with things like the geofence altitude. Personally I'd start with whoever owns the MAVLink protocol, and enforce whatever that group decides is the right behaviour.

[2015-07-06 18:21] billbonney commented on #171
@hamishwillee I think it's a good idea for a 'arduino like' easy top use API to add some checks and balances for when a novice does something wrong. If it's not for novices, I wouldn't worry about it.

Yo can't really add it to MAVLink as that's a protocol, and not really target at a 'easy to SDK API' as is dronekit

[2015-07-06 22:57] hamishwillee commented on #171
@billbonney Thanks. @mrpollo I guess action is for you to take this to the tech committee and then close this?

[2015-07-07 01:40] hamishwillee opened #179 "Is sudo needed for installation on Mac?"
@mrpollo This is a placeholder for your testing on a fresh Mac install.

[2015-07-07 01:43] hamishwillee commented on #179
The answer is yes - sudo is needed for pip (from @mrpollo and tim). Taking ownership and I will fix this.

[2015-07-07 02:00] hamishwillee commented on #20
@maruina Thanks very much. Hope you find time soon. Please add a note here when you start so that someone else can take it over if they find time first!

[2015-07-07 02:21] hamishwillee commented on #133
@mrpollo I agree.

My only concern is that most of the algorithms floating around (like those I documented) are only good within certain latitudes, and over certain distances. With the "documentation solution" you can just add a warning and people can try alternatives if they find errors.

If you provide a function then you need to make it far more reliable over larger distances/latitudes or provi

[2015-07-07 07:23] hamishwillee commented on #169
@csmiler Sorry, just got back from holiday. Yes, [your understanding above](https://github.com/diydrones/dronekit-python/issues/169#issuecomment-115912930) is correct. Unfortunately you've hit the limit of my knowledge here too - no more ideas :-(

[2015-07-07 07:55] hamishwillee opened #181 "Math module needs to be a dependency of dronekit"
@mrpollo @djnugent I just tried the fix in #174 against our examples. They crashed because math is not defined in the example script. I don't believe that our examples should "have" to import this dependency, which means that you will need to import this in dronekit.

Crash is in the simple_goto.py example (unmodified).

[code]

Of course I could be doing something completely wrong ... in which ca

[2015-07-07 17:02] djnugent commented on #181
@hamishwillee You are correct. I made an error with my PR. I will fix it.

[2015-07-07 17:22] tcr3dr commented on #181
Confirmed fixed. Added to v1.3.1 release

[2015-07-07 17:22] #181 closed

[2015-07-07 23:19] hamishwillee commented on #169
@mrpollo Looks like some stuff in the "right direction" happening in Android for this: https://github.com/DroidPlanner/DroneKit-Android/pull/188

[2015-07-07 23:47] #179 closed

[2015-07-08 05:45] hamishwillee commented on #60
@mrpollo FYI, it appears that the callback is called more often than the heartbeat -  when testing #184 I was  getting "lots" of records a second and the heartbeat only comes in once a second. I suspect this means that it is updated whenever a relevant message containing the attribute comes from the vehicle. That would certainly make more sense than updating on heartbeat. Can you confirm? (Note, I

[2015-07-08 18:23] tcr3dr opened #185 "Continuous integration requirements"
We want it! We need it!

dk-python has grown and our list of needs that need to be tested on merge has also. In this issue I want to compile a canonical list for CI that needs to be implemented. We can then split into separate issues talking about the technical details (when we use SITL, etc).

* [ ] Installation of dronekit-python from requirements.txt
* [ ] Installation of dronekit-python from s

[2015-07-08 18:23] tcr3dr commented on #185
Right now we are always testing against mavproxy "master", is there any reason this should be changed?

[2015-07-08 18:42] tcr3dr commented on #56
@mrpollo Can I confirm this is resolved?

[2015-07-08 18:42] mrpollo commented on #185
also we need to write unit tests, and possibly integration tests running with SITL

[2015-07-08 18:44] mrpollo commented on #56
fixed by 0cca18bdc8982c89674d0ab4c8d6d19f9df51cc8

[2015-07-08 18:44] #56 closed

[2015-07-08 18:47] tcr3dr commented on #13
@djnugent Is this still an issue? Should this be documented better?

[2015-07-08 22:35] hamishwillee commented on #185
No idea. One thing though, the instructions for MAVProxy on Windows use the installer version of MAVProxy and an installer version of DroneKit that can go on top of it - so slightly different than just using command line python.

[2015-07-08 23:25] hamishwillee commented on #13
@tcr3dr @djnugent This is still an issue because I haven't documented command line arguments to api start (at all) and I don't understand enough from this post to do so :-(

1. When you say this takes its  arguments from `"mavproxy.py [args]" do you mean that when you run a script with ``api start filename.py`` the arguments recieved will be whatever you already passed when you started mavproxy? I

[2015-07-08 23:29] hamishwillee commented on #154
@tcr3dr I think this has been answered as far as it can be and should be closed.

I believe there is a long term strategic objective to to allow DK to be used as "just another Python Module" (possibly by modifying MAVProxy so that it can be loaded as a module). Do you think it reasonable to create a separate issue for this? (and if so, can you do so). I think it would be useful for the community t

[2015-07-08 23:36] hamishwillee commented on #171
@mrpollo @tcr3dr I am closing this as the checks on NaN and Inf are now present.

Ramon, Can you create some method in place to track `we should definitely do something to enforce this type of restrictions, I think the right way to do it is to keep ourselves vendor agnostic, if a vendor wants to ship a drone that uses dronekit (eg: 3DR Solo) he should be able to easily enforce the type of checks t

[2015-07-08 23:36] #171 closed

[2015-07-08 23:38] hamishwillee commented on #20
@tcr3dr @djnugent This is pretty much a "no brainer" of something we should do. If you have time before @maruina does, please implement :-)

[2015-07-08 23:51] hamishwillee commented on #159
Hi @tcr3dr (and @djnugent), can you please review this issue and also #166 - they appear to have got stuck!

Tim, the story is that #166 will allow a thread to cleanly kill itself - we definitely need that and it needs to be merged.

The remaining problem here is that actually using the API is likely to be "messy" because you would have to litter the code with checks on api.exit. It would be bette

[2015-07-09 16:56] tcr3dr commented on #12
I investigated the issue. I'm almost positive this is caused by race conditions caused by threading. Spin-waiting on two separate threads for parameter confirmation causes a lot of "BAD DATA" messages to pop out nondeterministically.

A fix for this is targeted for the next major DKPY release, which should fix our threading situation.

[2015-07-09 17:01] tcr3dr commented on #154
@hamishwillee Sounds good.

[2015-07-09 17:01] #154 closed

[2015-07-09 17:16] tcr3dr opened #188 "DKPY as a standalone Python module?"
dronekit-python 1.0 is structured as a MAVProxy module. This had the following implications:

* Leverages MAVProxy's routing capabilities (serial/udp/tcp)
* Allows reuse of MAVProxy's object and state code
* Runs as a component of MAVProxy's threading model

Given the successful first release, we're increasingly running into this friction:

* Naive use of dronekit-python, expecting it to be single

[2015-07-09 17:19] tcr3dr commented on #188
One thing to note is that this is effectively blocked by #185. We want a capable test suite to prevent regressions from this transition.

[2015-07-09 17:19] eliao commented on #188
I look forward to this day!

[2015-07-09 17:56] mrpollo commented on #188
:+1:

Another dependency we might want to look into either help with performance of replace is pymavlink https://github.com/mavlink/mavlink/tree/master/pymavlink

[2015-07-09 18:26] tcr3dr opened #189 "Remove older, unused files."
It seems these are old and could be removed:

* [x] https://github.com/diydrones/dronekit-python/blob/master/scripts/mavgateway
* [x] https://github.com/diydrones/dronekit-python/blob/master/ELC.md
* [x] https://github.com/diydrones/dronekit-python/blob/master/compile-protobufs.sh

[2015-07-09 19:15] mrpollo opened #191 "Move to travis"
we are currently using codeship

[2015-07-09 21:20] tcr3dr opened #193 "requests is missing from setup.py"
[code]

[2015-07-09 21:28] tcr3dr commented on #191
See #192 for wip.

[2015-07-09 23:08] hamishwillee commented on #188
A bit pedantic, but "Naive use of dronekit-python" implies that the *user* can use DK in a less naive way to fix the problem. Perhaps "naive implementation" would be better.

Another feature I see this helping with is debugging. You could start of debugging sessions (and would no longer need to instrument code to start a session). This should make it easier to integrate with standard IDEs.

I thin

[2015-07-09 23:39] tcr3dr commented on #13
So I believe the issue is more specifically, "What is sys.argv populated with?" and the answer for this is "The arguments passed to mavproxy.py".

To pass "arguments" to your script in the current configuration, the best choice would be environment variables. We could extend `api start` to fix this.

However, I think punting on this issue is preferable, as in a post-MAVProxy  scenario we'd be able

[2015-07-09 23:45] tcr3dr commented on #83
@hamishwillee Is this issue still occurring?

[2015-07-10 00:00] hamishwillee commented on #83
@tcr3dr Yes. It is a documentation/sphinx issue.

[2015-07-10 00:09] hamishwillee commented on #13
@tcr3dr Makes sense to me. #188 will make a lot of things more "sensible".

[2015-07-10 13:23] Serveurperso commented on #95
Same problem here,

Connect tcp:192.168.43.111:5762 source_system=255
Logging to mav.tlog
Running script C:\Users\Pascal\AppData\Local\MAVProxy\mavinit.scr
-> set moddebug 2
-> module load graph
Loaded module graph
-> module load console
Loaded module console
Traceback (most recent call last):
  File "D:\A\WinPython-64bit-2.7.6.4\python-2.7.6.amd64\Scripts\mavproxy.py", line 264, in load_module

[2015-07-10 21:16] ghoshabhra opened #195 "How to control the vehicle w.r.t its own postion. For example if i want to move the vehicle forward w.r.t it self how would i do it?"

[2015-07-10 21:59] ghoshabhra commented on #195
if any one can tell me how to get the current yaw angle i can write a function to convert the relative x and y direction to N.E.D.

[2015-07-10 23:35] tcr3dr commented on #193
Fixed by https://github.com/diydrones/dronekit-python/commit/e7241d50cb034bdeb0f02b6843f4f6f0cdf75acc

[2015-07-10 23:35] #193 closed

[2015-07-10 23:35] tcr3dr commented on #191
Done.

[2015-07-10 23:35] #191 closed

[2015-07-11 00:08] hamishwillee commented on #195
In an ideal world ArduPilot would provide the SET_POSITION_TARGET_LOCAL_NED relative to the body frame and you would have this out of the box.

But since it doesn't ... you can get the bearing and GPS location relative to current position and a meters offset using [these functions in the guide](http://python.dronekit.io/guide/copter/guided_mode.html#frame-conversion-functions). The [guided mode ex

[2015-07-11 00:14] hamishwillee commented on #95
It is irritating, but I don't consider "urgent" because as you will note the library is actually loaded. I'll modify the issue title appropriately and try to debug next week.

[2015-07-11 11:02] ghoshabhra commented on #195
what does the bearing function do

[2015-07-12 23:49] hamishwillee commented on #195
Hi

Allows you to calculate a bearing from one Location to another. This is in the link I pointed to.

Re reading your questions:

This is shown in the example code I linked above - basically the Vehicle.commands.goto() method allows you to move with respect to the global frame. Since you can get the current position using Vehicle.location you can convert this into a position relative to the vehic

[2015-07-13 01:03] hamishwillee opened #198 "Update Simulation section to use dronekit-sitl-runner"
As introduced in #176 by @tcr3dr:

[2015-07-13 01:24] hamishwillee commented on #198
@tcr3dr @mrpollo Installation of the SITL binaries works on Ubuntu linux (in VM) and Windows

1.  Can you arrange for someone to independently test this on Mac OS X - Windows did not work [initially](https://github.com/3drobotics/dronekit-sitl-runner/pull/15), so we can't make any assumptions that Mac will work.

One "problem" is that the second part of using this solution is to call mavproxy to f

[2015-07-13 17:30] tcauchois commented on #198
I'm on OSX, use MacPorts for my python 2.7 install.  pip install ... worked fine.  To run dronekit-sitl I end up invoking `python -m dronekit_sitl_runner.__init__` which isn't the prettiest (I need to invoke mavproxy similarly through `python -m MAVProxy.mavproxy`, but at least it looks nicer).  The -m flag won't let me name a function to call, so I had to add the following to __init__.py:

[code]

[2015-07-13 22:29] tcr3dr commented on #198
Currently blocked by needing to re-run some builds. See https://github.com/3drobotics/dronekit-sitl-runner/issues/22

The issue @tcauchois posted is separate, I have to investigate why this is. I'm fine if for more complicated paths setups (macports pip, etc.) you need to run `python -m dronekit_sitl`, but right now that doesn't work. I consider that a defect.

[2015-07-13 23:25] hamishwillee commented on #198
@tcr3dr Thank you. I created https://github.com/3drobotics/dronekit-sitl-runner/issues/24 for the bug (that python -m is required)

[2015-07-14 01:05] hamishwillee opened #200 "Add interface to monitor and control failsafes"
Suggestion: add an interface tocheck whether failsafes have triggered and possibly also get/set their values.

Example use case:

At the moment you can't (by default) arm the vehicle if the radio is not connected unless you disable the radio failsafe (set FS_THR_ENABLE to "0"). There is no way to know that this failsafe is the reason why the vehicle won't arm without "asking an expert"

It would b

[2015-07-14 16:37] a7scenario opened #201 "next=___ and flush() doesn't change the current waypoint"
I'm running an APMcopter SITL with DroneKit/MAVproxy.  When DroneKit is "flying" in AUTO mode in the SITL with an 8 waypoint mission, the following function calls returns fine, but fail to actually change the current waypoint.  I've confirmed that the next(value) property setter does get invoked, it just doesn't actually change the current waypoint onboard the copter nor does it change what the ne

[2015-07-14 20:54] tcr3dr opened #202 "Test suite should have configurable SITL tests"
We currently test against ArduCopter-3.3-rc5. See https://github.com/diydrones/dronekit-python/blob/236f14da8569d190440f30d6376efde19534db96/tests/sitl/__main__.py#L69

By making this configurable:

* Helps bumping the version once dkpy is tied to an ArduPilot version
* Allows people to test against Plane and Rover

[2015-07-14 20:57] tcr3dr commented on #12
Once this is fixed, `test_12.py` should be improved with the relevant asserts.

[2015-07-15 03:28] mrpollo opened #203 "need CONTRIBUTING.md"
here are some topics we might need to cover, its up to you guys to decide what you want to see here @hamishwillee @tcr3dr

- [ ] how to run locally
- [ ] test instructions
- [ ] code style
- [ ] descriptive commit messages

[2015-07-15 03:34] hamishwillee commented on #201
G'day! You don't need to call flush after calling next.

I've created [this gist test code](https://gist.github.com/hamishwillee/b72845955057adda189e) which creates 10 waypoints and then sets mode to AUTO. After changing to auto mode a for loop runs showing a 1 second loop value  and the current command number e.g. ``"Current command number: 2`` from vehicle.commands.next. When it gets to a comman

[2015-07-15 04:41] hamishwillee commented on #203
@mrpollo @tcr3dr

This content should [go into the guide here](http://python.dronekit.io/contributing/index.html) and **CONTRIBUTING.md** should be a thin link to that guide.

I've modified the list above to include a few topics  we already cover, and to make it clear that there is a difference between running tests locally and rebuilding dronekit-python locally - though that might not be true.

T

[2015-07-15 22:59] tcr3dr commented on #10
Since this may not have gotten rolled back into any documentation, this is what I'm using for some SITL tests:

[code]

Which seemed to be successful. I can imagine scenarios where a DISARMING MOTORS trigger would still occur, but have nothing that causes that effect so far.

[2015-07-15 23:08] hamishwillee commented on #10
@tcr3dr Setting ARMING_CHECK 0 is a big no no for real code. Might be worth adding a note in the test code to make it clear that this isn't something to do normally (since some people might copy it).

[2015-07-15 23:17] tcr3dr commented on #10
@hamishwillee Can confirm. Basically a big warning around the ARMING_CHECK section on SITL will help. http://android.dronekit.io/getting_started.html

[2015-07-15 23:38] hamishwillee opened #205 "Change Note to Warning when disabling arming checks in SITL docs"
It is useful to disable arming checks in SITL in order to ensure that examples can run - and it is better to do it here than in the example code where  it is likely to get copied into real scripts. However where this change is made, we need a disclaimer/warning that this should not be done in real code.

There is a note for this [at the end of this section](http://python.dronekit.io/guide/sitl_set

[2015-07-15 23:40] hamishwillee commented on #10
@tcr3dr Thanks. I will add note for Android (https://github.com/DroidPlanner/DroneKit-Android/issues/199). There is already a note for Python but it could be more prominent (https://github.com/diydrones/dronekit-python/issues/205).

[2015-07-16 20:34] tcr3dr commented on #132
Hey @hamishwillee, I adapted your test case to make a unit test! https://github.com/diydrones/dronekit-python/commit/1a114948ac0fc1099cbdd13cb6b1b3cbae558997

So if I understand the issue (which still exists) properly:

* Clearing a waypoint list should result in one waypoint, "home"
* Adding waypoints, then uploading, then downloading, should result in an identical list

And what appears to be ha

[2015-07-16 21:11] tcr3dr commented on #136
@hamishwillee Can you confirm this is an issue? I want to know if this is something I can dig into.

[2015-07-16 21:21] tcr3dr commented on #60
@hamishwillee I'll take over this issue. Since it's a significant departure from how callbacks are called so far in 1.x I think I'll reserve it for the next minor release, meaning I will focus effort on #184 first.

[2015-07-16 22:32] hamishwillee commented on #60
@tcr3dr Just to be precise:

- The way I *think* this works is that we publish observed values whenever messages come in with those values. The documentation delivered by #184 assumes this. Can you confirm?
- It could be that you are saying instead of the above we already cache the incoming values, and what is reported is the last received value, which is reported at some other schedule. If this i

[2015-07-16 22:32] tcr3dr opened #209 "Standardize arm_and_takeoff"
From @hamishwillee:

[2015-07-16 22:41] tcr3dr commented on #209
Before making an all-encompassing function do accomplish this task, let's analyze its components and some hypothetical subcommands:

`await_initialization()`

[code]

`await_gps()`

[code]

`arm()`

[code]

`takeoff(altitude)`
`await_altitude(altitude, variance=0.05)`

[code]

How do we feel about this level of granularity? I feel we should start by refactoring out small components, then arrive at

[2015-07-16 22:59] tcr3dr commented on #60
@hamishwillee Your first point is correct. We do no caching yet, so we are erroneously sending "change" updates when a change may not have occurred.

So, I can prepare a patch to this, but I do not have enough test cases yet to confirm it will work well. In the meantime, I propose we go ahead, document this behavior (as a bug) via #184, and for the release that fixes this issue we update the docum

[2015-07-16 23:01] hamishwillee commented on #209
@tcr3dr The split looks logical. At the end it makes sense to me that there just be one big fat function.

My concerns with the method as it is (for your consideration):

- Reporting of what is holding up initialisation. I quite like checking against mode initialising but perhaps we can get more granularity on this. Certainly I'd consider reporting boot and calibrating states when #156 is put in.

[2015-07-16 23:02] hamishwillee commented on #60
@tcr3dr Thanks very much. Completely agree.

[2015-07-16 23:11] hamishwillee commented on #136
@tcr3dr Not an issue right now so I will close. It reverted a few times in the past but @mrpollo did some changes which may have fixed it. If this occurs again I'll open a generic issue about the fact it keeps reverting.

[2015-07-16 23:11] #136 closed

[2015-07-16 23:13] tcr3dr commented on #136
@hamishwillee Sounds good. I'll be able to help "in the moment" fix it if this comes up.

[2015-07-16 23:34] hamishwillee commented on #132
@tcr3dr You are correct in every detail - thanks very much. Clearly what I was doing was a mis-use of the API - I will improve the documentation.

That said, with other commands you can normally batch them up and then call flush to make sure they are sent - so sending a mode change and arm request before calling flush works. Others will make this mistake and it would be good if our API was robust

[2015-07-16 23:40] tcr3dr commented on #72
It appears that simple_goto no longer includes RC code.

Should we still split out RC code from vehicle_state? I would be in favor. It seems like it's an "advanced" topic and we want to not encourage that in the basic example, no matter how many warnings are attached.

[2015-07-17 00:05] tcr3dr commented on #115
There's no way simple way to test that this issue causes wrong behavior except by looking at the verbose logs, as indeed it silently fails! But I've added a test that checks for regressions.

The way to "unset" set_mavlink_callback as of #210 is:

[code]

[2015-07-17 00:19] hamishwillee commented on #201
I am closing this. Please reopen if you don't think the answer was sufficient.

[2015-07-17 00:19] #201 closed

[2015-07-17 00:23] hamishwillee commented on #13
@tcr3dr Reopening to continue discussion.

Just found that in theory at least you can pass arguments to the script! See http://python.dronekit.io/examples/flight_replay.html
[code]

Any ideas of best place to document this in our current structure? We don't (yet) have best practices or programming idioms doc. Maybe a stand alone doc "Communicating with the script". WOuld be a bit "thin".

[2015-07-17 00:24] tcr3dr commented on #203
@hamishwillee I began a branch here that should fill in some of this info: https://github.com/diydrones/dronekit-python/pull/212

Shall we work out of this same PR to update the documentation quality enough to be merged?

[2015-07-17 00:29] hamishwillee commented on #115
Thanks @tcr3dr . I will update the documentation when #210 is merged.

[2015-07-17 00:45] hamishwillee commented on #203
@tcr3dr

Yes. Good start.
Unfortunately I'm not going to have time in the short term to look at this "properly". I have added some notes that I help though. My priority for the coming week will be getting a draft of the cloud quickstart and my ardupilot wiki editor role.

In the short term just let me know if anything you write needs a review.

[2015-07-17 00:56] hamishwillee commented on #72
@tcr3dr I thought about this a lot and decided that it is more associated with vehicle state than anything else, and that creating an extra "advanced use" example to support this would actually highlight it more than I wanted. I do see your argument though - if you feel strongly add a final confirmation and I'll create another very simple example for "setting rc overrides". Otherwise just close th

[2015-07-17 21:26] tcr3dr opened #215 "Web tests are only run on branches, not forks."
Need a workflow that routes around this issue.

[2015-07-17 21:27] tcr3dr commented on #215
One solution is to not try the web-based tests on nonlocal forks, which is probably the most straightforward solution.

[2015-07-17 22:16] hamishwillee commented on #215
@tcr3dr What do the web tests cover that would be missed out? ie If we have tests then presumably they are important to run?

[2015-07-17 23:40] tcr3dr commented on #188
Using pymavlink as a dependency directly is now being explored in the https://github.com/diydrones/dronekit-python/tree/major branch.

[2015-07-20 16:41] a7scenario commented on #201
Similar to your test code, I am able to change the current waypoint if I haven't changed my mission plan mid-flight.  If I've recently overwritten the mission plan, I can't change the current waypoint unless I do a mode change (even if I'm already in AUTO).  Can you run this quick and dirty test in your SITL to see if it succeeds/fails to change the current waypoint?
https://gist.github.com/a7scen

[2015-07-20 18:07] djnugent opened #218 "Vehicle system time for sensor syncing"
Extract the autopilot time from incoming mavlink messages. It would be nice to correlate the vehicle state(attitude,location, etc) with a timestamp for use with other sensors. I plan to implement this for my own use but wanted some feedback from others for when I actually implement it.

[2015-07-20 18:15] djnugent commented on #218
Current implementation idea:
Vehicle.time() returns a running time from the vehicle. It is adjusted every time a *certain* message is received by the autopilot. The type of the *certain* message doesn't really matter. As long as it is updated regularly and has a timestamp, we are good. Like a location or attitude messages.

All vehicle attributes have a timestamp for when they were last updated(se

[2015-07-20 18:22] tcr3dr commented on #218
I don't understand what `Vehicle.time()` would return, unless it's supposed to be passed an argument? In any case, I do like the per-attribute properties a lot.

We need to make sure to avoid race conditions for this API. If you read `vehicle.location`, then read `vehicle.location.time`, and the message were updated inbetween from another thread, that sounds undesirable. Perhaps we want a differen

[2015-07-20 19:14] djnugent commented on #218
The `vehicle.time' would return the system time of the autopilot. It comes is handy when sending messages back to autopilot with timestamps. It would be nice if both the autopilot and droneapi were running a semi-synced clock. It could be an attribute or function call...it doesn't matter.

I like that idea. Long live tuples!!!

[2015-07-20 19:19] tcr3dr commented on #218
Got it. `Vehicle.last_timestamp` can be a bit more accurate, as it would imply it's not a synced clock, just a message update. And a clock diff tracker could be built on top of tracking onchange updates to that property.

[2015-07-20 19:27] djnugent commented on #218
No it would not be `last_timestamp`. It would be system time *shifted* to match the autopilot time.

Upon receiving a new message with a timestamp we would find the difference between the current system time and the timestamp. `shift = time.time() - msg.timestamp`
Then:
`Vehicle.time` returns `vehicle.time = time.time()  - shift`

[2015-07-20 19:45] tcr3dr commented on #218
Rather, let me suggest we have `Vehicle.last_timestamp` so that we could implement a simple `Vehicle.time()` on top of that primitive:

[code]

My reasoning is that `last_timestamp` is a sure bet as an API addition, but time synchronization is something that might need to be more complex: https://en.wikipedia.org/wiki/Clock_synchronization I'm not familiar enough to suggest time diffs are adequate

[2015-07-20 21:19] djnugent commented on #218
I personally don't see any use for `last_timestamp` but that doesn't mean someone else wont.

Yeah it isn't the most elegant solution for clock sync. I'm thinking about sitting in on tonight's dev call. Maybe the community will have some input on how to do clock syncing between mavlink enabled devices.

[2015-07-20 23:36] hamishwillee commented on #218
As attribute queries are synchronous and return after retrieving a messag,e the timestamp of the message seems irrelevant. If we were caching and then polling for last message update then I would understand more why we might need it.

I think perhaps don't understand the use cases you're trying to address, and hence the solutions don't answer any question for me.

[2015-07-21 00:04] tcr3dr opened #219 "Rename "droneapi" instances"
Maintaining a list of things here.

- [ ] top-level module is "droneapi"
- [ ] README.md - #241

etc.

[2015-07-21 01:22] hamishwillee commented on #201
According to the expert you should not need to change the mode from AUTO. What is most likely happening is that Vehicle.commands.next does not change the waypoint until it has completed the current waypoint - and any additional next commands you send in the meantime are dumped. If you need to change the target immediately I think you might try sending https://pixhawk.ethz.ch/mavlink/#MISSION_SET_C

[2015-07-21 01:23] hamishwillee commented on #201
Let me know how your testing goes (confirm above please!)

[2015-07-21 01:29] hamishwillee opened #220 "Add AUTO mode documentation"
We have a few minor examples of using AUTO mode, but nothing exhaustive. It needs to show how to add mission waypoints, clear waypoints, use next. Also needs to show dynamic updating.

One gotcha that needs to be tested is how vehicle.commands.next works/is implemented. #201 research seems to indicate that next is only switched over once the current command completes - if you need to switch immedi

[2015-07-21 02:07] mrpollo opened #221 "installing on linux needs python-dev package"
thanks for the report @jmachuca77

[2015-07-21 02:14] hamishwillee commented on #221
Thanks very much. I submitted #216 to address this yesterday.

[2015-07-21 13:17] a7scenario commented on #201
Thanks for the thorough response.  I'll try to respond to each point:

--Good idea, but I actually already tried manually changing the current waypoint by using DroneKit's message_factory function mission_set_current_encode() and then using send_mavlink().  It exhibits the same behavior as when I use the next() property setter -- that is, it doesn't change the current waypoint under the conditions

[2015-07-21 18:31] tcr3dr opened #222 "self.vehicle.parameters is not iterable in a friendly way"
[code]

On one setup this caused a keyerror, due to it iterating in sequence on the underlying object:

[code]

I haven't reproduced this yet.

[2015-07-21 23:01] hamishwillee commented on #115
TODO Update docs when #225 is merged (supersedes #210)

[2015-07-21 23:04] tcr3dr commented on #221
Fixed by #216.

[2015-07-21 23:04] #221 closed

[2015-07-21 23:05] hamishwillee commented on #110
This will be fixed by #224. Check docs at that point to see if update required.

[2015-07-21 23:08] tcr3dr commented on #159
Due to progress on #188 I am more inclined to close this than to have it merged in for a short time. We might be looking at only a few weeks of utility, without a useful story for backwards compatibility.

@djnugent @hamishwillee what are your thoughts?

[2015-07-21 23:09] hamishwillee commented on #222
@tcr3dr Just FMI, does/will this mean that you can iterate Vehicle.parameters and list all the parameter names and current values? (if so I will need to add this to the docs - it never occurred to me you might be able to!)

[2015-07-21 23:12] tcr3dr commented on #222
@hamishwillee It would be desirable! I haven't dug into how it is implemented that the `parameters` object doesn't act like a normal dict, but that should be cleared up.

OTOH, this is more an enhancement than a bug, so marking appropriately.

[2015-07-21 23:14] hamishwillee commented on #159
@tcr3dr This issue is a docs question that needs to be answered, not code that needs to be merged. It needs to be kept open and then answered when #188 delivers (or to put it another way, the requirement of this issue to be able to answer the question "what is the best way to exit a script if you get into trouble?" is something that #188 needs to answer *in a sensible way*.

I agree that #188 look

[2015-07-21 23:16] hamishwillee commented on #222
@tcr3dr Yes it would be desirable. Sounds good.  Lets take a note to create a docs issue when this resolves - if needed.

[2015-07-21 23:40] hamishwillee opened #226 "Provide get and set the current speed in guided mode"
We need a mechanism to allow us to get and set the speed through the API "directly" in guided mode.

At the moment we can do this through a custom DO_CHANGE_SPEED command in Copter when using `Vehicle.commands.goto` or another position based guidance method. The method does not work if you're controlling vehicle movement by velocity. The commanddoes not yet work on Plane (https://github.com/diydro

[2015-07-21 23:41] hamishwillee commented on #173
@tcr3dr #226 is IMO more important than this issue, because it will never be possible to use velocity control on Plane.

[2015-07-21 23:45] hamishwillee commented on #19
Closing this as it possible now in Copter. I created #226 to add the feature as "part of the API".

[2015-07-21 23:45] #19 closed

[2015-07-22 04:35] hamishwillee opened #227 "Race condition when updating and fetching commands"
Consider the code below (gist at https://gist.github.com/hamishwillee/9607b3707fb942d59abf#file-gistfile1-txt-L36)

[code]

The code works as is, but if the `time.sleep(2)` is removed then all waypoints are wiped (except the home waypoint).

This shouldn't happen because in theory the flush means that the new waypoint is sent, and this should occur before flush returns - ie before we have a chance

[2015-07-22 11:32] hamishwillee commented on #201
Hi

FYI, apparently the behaviour not quite as I indicated above. The next call is immediate. However if you load a new mission then the current target will complete first before the new position command is loaded.

Also discovered this bug today: https://github.com/diydrones/dronekit-python/issues/227

Cheers
H

[2015-07-22 12:09] hamishwillee commented on #201
OK, you can see some test code here https://gist.github.com/hamishwillee/40f51c05607834ded821#file-gistfile1-txt-L274 . It is a bit complicated, but it does appear to show code behaving "properly".

Ie if you change next then it changes the target waypoint. If you clear and load a new mission then you continue moving towards the same waypoint number, but this is a new waypoint.

The action mostly

[2015-07-22 21:08] tcr3dr commented on #220
My only caveat here is we need to keep the right level of abstraction. AUTO mode for Solo is increasingly trending toward GUIDED + refreshing of waypoints. I anticipate DroneKit will be supporting both for some time but we want to avoid when possible the need to memorize two conceptual models.

[2015-07-22 21:12] tcr3dr commented on #222
@hamishwillee Sounds good.

[2015-07-22 21:34] tcr3dr commented on #215
@hamishwillee I realize that tests are actually being run on Circle CI and Appveyor, and only Travis is excluded. So disabling web tests only for Travis still gives us full coverage.

What is actually of concern is that we have an API key that we expose in our tests. Unsure what to do about that other than to be vigilant.

[2015-07-22 22:48] hamishwillee commented on #215
@tcr3dr Good news.

Bearing in mind that I know nothing about our infrastructure, some ideas

* Only allow requests from that key from certain IP addresses
* Run tests on mirrored test database, and ensure that key only has access to that database

[2015-07-22 22:58] hamishwillee commented on #220
@tcr3dr Can you expand on what you mean by "Guided" + refreshing of waypoints? My guess is that you're saying missions are now done in guided mode using scripts rather than as "mission definitions" in AUTO?

Appreciate that we don't want to confuse users. Using AUTO is important at the moment mainly because there are plenty of functions only available in auto mode. In Plane particularly this is so

[2015-07-23 00:19] hamishwillee commented on #121
This should be fixed on windows at least by #228

[2015-07-23 04:37] hamishwillee opened #230 "vehicle.commands must be reset after clearing"
If you clear `Vehicle.commands` then you must redownload the mission before trying to add any new  waypoints or the addition will fail. The code below demonstrates this - if you remove the commented out lines then the new waypoint is added, but otherwise it is not.

This feels like a bug. If you've just cleared the commands from the mission then you're expecting it to be empty and ready for re-use

[2015-07-23 06:51] hamishwillee commented on #201
Also note this one - https://github.com/diydrones/ardupilot/issues/2584 - basically if the mission ends and you add new waypoints then the mission doesn't restart - it just waits. YOu can restart by toggling to guided and back to AUTO

[2015-07-23 07:02] hamishwillee opened #231 "Add support for MISSION_ITEM_REACHED message"
As per https://github.com/DroidPlanner/DroneKit-Android/issues/204

Our current recommendation is to monitor vehicle.commands.next, but there are two issues with this:

1. You can't observe it, you have to monitor it
2. On the last mission, it doesn't go anywhere.

It would also be useful to know if this is emitted when you reach a point in guided mode using goto - if so this could simplify a lot

[2015-07-23 13:42] a7scenario commented on #201
Thanks, I'll try out that test code.  And yes, per your second post, that is what I've been doing to hack around this issue -- toggling from AUTO to GUIDED to AUTO to force the next(value) command through.  In the SITL simulation, it's a little hard to tell if those quick mode changes have any impact beyond a little sputtering on the HUD.  The other workaround, I would think, is to just make note

[2015-07-23 21:22] tcr3dr opened #232 "`test_12.py` should avoid printing any text"
Since this text isn't useful and it violates our test authoring guide, this should be fixed.

[2015-07-23 22:30] hamishwillee commented on #201
There shouldn't be any real impact changing from AUTO to GUIDED to AUTO though it does depend on the parameter which defines what to do when you go into auto mod - you can either resume or restart from the beginning. The important thing when switching is to go to a mode where RC input is ignored (like guided) otherwise you might accidentally change throttle during the switch.

Yes you can keep the

[2015-07-24 01:21] hamishwillee opened #233 "`test_goto.py` should avoid printing any text"
Same reasoning as #232

[2015-07-24 17:32] albertplawinski opened #234 "Add support for IMU raw values"
Can you add support so that the API the query the raw IMU on board for the python code to interpret?

[2015-07-24 20:07] tcr3dr opened #235 "Document Unit Testing and use of mock"
Quoted @hamishwillee on the topic:

import mock
from mock import MagicMock
import droneapi
from droneapi.module.api import APIModule
from nose.tools import assert_equals

def test_mode():
    api = APIModule(MagicMock())
    res = api.get_connection()
    assert_equals(len(res.get_vehicles()), 1)
[code]

[2015-07-24 21:45] tcr3dr commented on #163
This is actually doable now that Appveyor can run the installer. See #236.

I suppose we should publish builds on each tag release. This shouldn't be too hard to setup. @hamishwillee, should this happen before adding Windows Installer instructions to the tutorial?

[2015-07-26 23:54] hamishwillee commented on #163
@tcr3dr Yes please. I can't update the getting started to include the windows installer option until I know where the installers will be hosted (ideally with a permanent "latest version" link). That is part of what this issue needs to deliver.

[2015-07-27 00:11] hamishwillee commented on #234
Thanks @albertplawinski . The packets are sent so there is no reason why not. Feel free to add a patch to support these yourself if you need them urgently as this is not likely to be an urgent priority.

@tcr3dr Copter and Plane support three IMU messages (MSG_RAW_IMU1 - MSG_RAW_IMU3) which I am guessing are split up versions of [RAW_IMU](https://pixhawk.ethz.ch/mavlink/#RAW_IMU) in the protocol?

[2015-07-27 00:31] hamishwillee commented on #235
The discussion from #212 moved here:

From @tcr3dr

From @eliao

@eliao Thanks - whatever you know would certainly be more than us - so if you have time, help would be much appreciated.

We need to create good "reference" examples of how to test getting and setting attributes (so that we can copy this for all attributes). For testing a setter we might look at Vehicle.mode. For testing a getter we

[2015-07-27 19:52] mrpollo opened #239 "organization transfer"
- [x] transfer from diydrones to dronekit organization
- [x] update CI's to fetch from right repo
- [x] update links on README.md
- [x] update links on docs
- [x] update links on http://dronekit.io

[2015-07-27 20:11] mrpollo opened #241 "add better description on readme"

[2015-07-27 20:11] tcr3dr commented on #219
Also see https://github.com/dronekit/dronekit-python/issues/241

[2015-07-27 20:18] mrpollo commented on #219
updated your original issue to add the #241 issue :)

[2015-07-27 22:17] tcr3dr commented on #115
@hamishwillee #240 has been merged which fixes this issue. Documentation was added for `unset_mavlink_callback` but it may need to be improved. Let me know.

[2015-07-28 00:52] hamishwillee commented on #115
@tcr3dr I've added #245 to improve the documentation. What you had was fine (though you needed a space after the ``..code: python`` line to get the code block to render). The changes add information about the API to the guide and example code. I took the opportunity to improve the related docs.

In addition, I couldn't merge this directly onto the main repo (had to do it via my fork because I got

[2015-07-28 07:15] hamishwillee commented on #230
Actually I am not sure this is  valid - though there is some sort of bug. If I split the commands to clear and the command to add a waypoint into separate scripts then the whole ree-download thing is not needed to add new waypoints.

I suspect the above script requires the meission be re-downloaded due to some sort of timing issues.

[code]

[code]

[2015-07-28 09:33] hamishwillee commented on #230
Hi @tcr3dr

I understand what is going on now.

When you clear a mission you create an empty ``vehicle.commands`` object. However on the vehicle there is a mission command for the home location, and if you were to download the mission you would end up with one item in the cmd.

When you upload the new (truly) empty cmd you run into  #132 - the first command is thrown away. So as things are, if you

[2015-07-28 09:38] hamishwillee commented on #132
@tcr3dr @mrpollo I've run into another issue from this behaviour, which you can find out about in https://github.com/dronekit/dronekit-python/issues/230#issuecomment-125521588.

IMO the change that needs to happen is that DK-Python makes the 1st mission item (Home location) invisible to user through this API - and only ever hands it a CommandSequence from the first "real" waypoint. Under the hood

[2015-07-28 18:01] tcr3dr commented on #72
I'd like to propose separating this then. Considering some of the long-term goals of maintaining abstractions over MAVLink and RC input, and since vehicle_state.py will eventually accumulate more features we want to highlight (and are more important), moving out "advanced" features gives us that level of flexibility. But this is totally low-priority.

[2015-07-28 18:34] tcr3dr opened #250 "Capability API"
This should be supported.

[2015-07-28 18:34] tcr3dr commented on #234
@albertplawinski You can prototype this with http://python.dronekit.io/automodule.html#droneapi.lib.Vehicle.set_mavlink_callback in your own scripts. If you have a proof-of-concept, post it here, as it will increase the likelihood of it getting added as a feature sooner.

@hamishwillee Made a note on https://github.com/dronekit/dronekit-python/issues/250.

[2015-07-28 21:19] djnugent commented on #250
@squilter was looking into on the ardupilot side

[2015-07-28 21:28] djnugent opened #251 "DRONEKIT_PATH variable"
Currently dronekit only supports relative and absolute paths. It would be nice if we could point `api start <file>` to look at a set of directories when running a script. DRONEKIT_PATH would point to your project folders.

This idea was brought up in a recent dronekit session Chris and I had. At a minimum we should specify in the documentation that if that user can't specify the directory in which

[2015-07-28 21:38] zlite commented on #251
Also, let's update the documentation to show people how to download the
example files:

git clone https://github.com/dronekit/dronekit-python/examples

On Tue, Jul 28, 2015 at 2:28 PM, Daniel Nugent <notifications@github.com>
wrote:

--
Chris Anderson
CEO, 3D Robotics
chris@3drobotics.com

[2015-07-28 22:00] squilter commented on #250
I am trying to implement this with diydrones/ardupilot#2563.  The capabilities will be sent back in the existing [AUTOPILOT_VERSION](https://pixhawk.ethz.ch/mavlink/#AUTOPILOT_VERSION) packet.  But my computer is dead now, so I need to fix that before I can implement it.  I also don't think this was going to go out in AC3.3 anyways.

[2015-07-28 22:26] tcr3dr commented on #132
@hamishwillee Let's fix this properly for the minor branch then. `Vehicle.commands` pairs with `Vehicle.home` or similar. I'll start developing this on my existing PR branch and open a new issue about it.

[2015-07-28 22:31] tcr3dr opened #252 "Expose home location as separate from .commands array"
#230 #207 #132

Home location doesn't act in the same way as our .commands array (see above topic for discussion). Instead of patching unexpected behavior, we can extract this "initial" command as a separate `Vehicle.home_location` variable.

[2015-07-28 22:48] hamishwillee commented on #252
The attribute should also be settable (the [MAV_CMD_DO_SET_HOME](http://copter.ardupilot.com/wiki/common-planning-a-mission-with-waypoints-and-events/common-mavlink-mission-command-messages-mav_cmd/#mav_cmd_do_set_home) command can be set any time)

FYI, the ardupilot implementation of home location as first waypoint is a "bug" that they hope to undo at some point.

[2015-07-28 22:49] hamishwillee commented on #132
Sounds great.

[2015-07-28 22:53] hamishwillee commented on #234
@tcr3dr Thanks. I hope to write a topic on how use set_mavlink_callback for this sort of thing. I was thinking along the lines of "Supporting New MAVLink Messages" with suggestion of the "right way" being to create issue and follow our contribution process, but that for temporary relieve use this API ....

[2015-07-28 22:53] hamishwillee commented on #72
@tcr3dr OK. I am leaning this way too.

[2015-07-28 23:15] hamishwillee commented on #251
Yes, it is painful to have to enter full search paths - I'm always thinking "what is my current path" and I tend to just close the prompt and reopen it in the new folder I want to run. I like the idea, but I don't think we'll need it when we have dronekit running as a module, so I guess whether we do this depends on priority/effort vs how quickly we'll get dronekit running as an independent module

[2015-07-28 23:35] tcr3dr commented on #115
Merged!

[2015-07-29 00:39] zlite commented on #251
Thanks, Hamish. I think this is more an issue of documentation
organization, rather than totally missing information.

For example,  for my OSX/SITL runthrough, I started at the Getting Started
<http://python.dronekit.io/guide/getting_started.html> page (reasonably
enough!).  It took me to the "Running an app/example" section, which is
where I ran into trouble because I didn't know how to download

[2015-07-29 02:20] hamishwillee commented on #105
@tcr3dr I am closing this as it is a "subset" of #252 (covers just the creation of the waypoint home, while 252 also covers hiding the waypoint from the commands list).

[2015-07-29 02:20] #105 closed

[2015-07-29 18:43] tcr3dr commented on #239
All set!

[2015-07-29 18:43] #239 closed

[2015-07-29 19:25] tcr3dr commented on #241
Good README examples we can copy: https://github.com/matiassingers/awesome-readme

[2015-07-29 19:26] tcr3dr commented on #232
Fixed by #254.

[2015-07-29 19:26] #232 closed

[2015-07-29 19:27] tcr3dr commented on #74
Fixed by #255.

[2015-07-29 19:27] #74 closed

[2015-07-29 23:21] tcr3dr commented on #110
Addressed by #224.

[2015-07-29 23:21] #110 closed

[2015-07-29 23:31] hamishwillee opened #256 "Add pitch parameter to Takeoff cmd and support on plane"
The takeoff command currently works only on copter. It would be good to enable it for plane too.

This would require two changes:

* The addition of a "pitch" parameter which would be ignored on Copter (Plane's version of [mav_cmd_nav_takeoff](http://planner.ardupilot.com/wiki/common-mavlink-mission-command-messages-mav_cmd/#mav_cmd_nav_takeoff) has this)
* Add support for the takeoff command in [

[2015-07-30 00:24] tcr3dr commented on #163
@hamishwillee We have our first Windows builds:

* https://s3.amazonaws.com/dronekit-installers/windows/dronekit-windows-latest.exe
* https://s3.amazonaws.com/dronekit-installers/windows/dronekit-windows-v1.4.2.exe

These will continue to be built as we publish releases. Feel free to link to them!

[2015-07-30 00:25] tcr3dr commented on #163
@hamishwillee Feel free to close this issue in favor of #164.

[2015-07-30 00:25] tcr3dr commented on #164
See these URLs for our first Windows builds:

* https://s3.amazonaws.com/dronekit-installers/windows/dronekit-windows-latest.exe
* https://s3.amazonaws.com/dronekit-installers/windows/dronekit-windows-v1.4.2.exe

Thanks again @stephendade for the work behind these.

[2015-07-30 00:42] tcr3dr opened #258 "http://python.dronekit.io/about/release_notes.html is wrong about patch releases"
So I've inadvertently been documenting patch releases, unlike what it reads on http://python.dronekit.io/about/release_notes.html:

Should we only publish release notes for minor/major branches? Should that line be changed? Or should bugfixes be rolled up into the release notes for the minor branch and published to the site? Or should all release notes be published there?

[2015-07-30 05:30] hamishwillee commented on #251
Hi Chris / @zlite

I've updated the documentation - you can see the changes in #261. The documentation in both sections is now much better, and also very similar. The only real difference being that the getting started focuses on a specific example.

In both cases they start with how to get the examples/where the examples are located.

Very charitable of you - sadly I think I just needed to spend

[2015-07-30 05:32] hamishwillee commented on #251
@tcr3dr the docs are updated, but we still need to decide if it is worth creating better handling for file management. My gut feeling is that the speed of progress on making DK a stand alone module means that this is not worth doing.

Open or close?

[2015-07-30 05:43] hamishwillee opened #262 "Add distance-to-waypoint attribute"
It would be very useful to have an attribute that displayed the horizontal distance to a target location, while the vehicle is moving towards a location. I would expect this to display the next waypoint when in AUTO mode, the goto location in GUIDED mode, and None if not moving towards a mission.

These would use the helper methods provided by #133

[2015-07-30 08:34] hamishwillee commented on #258
@tcr3dr @mrpollo The regular updates of point release notes are useful - they show exactly what has changed and help people understand whether updating makes sense.

That said, I'm not sure they are the right thing for the release notes page. IMO the page is an opportunity for us to show off all the great new things we've been doing and that this release delivers. The point releases are too small

[2015-07-30 16:00] mrpollo commented on #239
success!

[2015-07-30 19:04] tcr3dr opened #263 "[2.0.0] pymavlink can create struct unpacking errors"
Future-facing, this was generated on a Travis build (and accidentally removed...) If this crops up again, we need to ensure unpacking errors don't float up to the DroneKit Python layer, they should be treated like any other MAVError.

[2015-07-30 19:07] tcr3dr commented on #258
Totally think it's worth taking through, since I feel the same way when authoring the updates. My questions:

* Should the Github release page show only the diff or the cumulative release notes?
* The docs should show cumulative data for the minor or major branch. Should it do it with all bugs, features, etc. grouped together, and calling out specific additions by which point version they were add

[2015-07-30 22:18] hamishwillee commented on #258
@tcr3dr I think that for docs it would be good for bugs etc to be grouped together with each line pre-fixed with the point version. So in each release you'd append the bugs for that release to the list.

Ideally we'd still link to the "latest point release" docs on github, in the same way you have them now.

That all said, I'm having trouble envisaging what each case would look like. Can we mock u

[2015-07-31 20:05] tcr3dr commented on #233
Fixed.

[2015-07-31 20:05] #233 closed

[2015-07-31 22:15] a7scenario opened #266 "DroneKit's message_factory not populating message buffer"
When creating mavlink messages with DroneKit's message_factory, DroneKit is not properly creating the message's data buffer (but does populate all the data fields in the mavlink message).  This causes calls to get_msgbuf() to fail on a DroneKit-created mavlink message because the message's data buffer is empty.  On my system, it appears as though DroneKit's message_factory is using ardupilotmega.p

[2015-08-02 18:52] kcarring commented on #95
I'm getting the same result after doing the Getting Started setup twice (and a friend did it once on a different computer and got the same result), so the api start commands don't work us.
What are these modules and where is it looking for them?

[2015-08-02 23:05] hamishwillee commented on #95
@kcarring - So if you're on mavproxy prompt and you enter ``module load droneapi.module.api`` what do you see?
If you look at the console log [above](https://github.com/dronekit/dronekit-python/issues/95#issuecomment-120409870) the module is being loaded in the end, so I want to confirm you have different symptoms.

[2015-08-02 23:36] hamishwillee commented on #163
Closed in favour of #164

[2015-08-02 23:36] #163 closed

[2015-08-02 23:42] kcarring commented on #95
Mine are similar to zlite's symptoms:

STABILIZE> module load droneapi.module.api
Traceback <most recent call last>:
  File "<string>", line 265, in load_module
  File "<string>", line 395, in import_package
ImportError: No module named mavproxy_droneapi.module.api

Traceback <most recent call last>:
  File "<string>", line 265, in load_module
  File "<string>", line 395, in import_package
ImportE

[2015-08-02 23:46] hamishwillee commented on #164
@tcr3dr Can the parent directory ( https://s3.amazonaws.com/dronekit-installers/windows/ ) be given unrestricted *read* access - at the moment it is not possible to see the contents.

That way I can say something like "get the latest here, but see dir HERE for legacy versions".

[2015-08-03 00:01] hamishwillee commented on #95
@kcarring Well, that means what it says - the module can't be loaded. That usually means it isn't in a path where it can be found by MAVProxy.

Can you post your whole build log in a gist for review - first this:

[code]

Then this:
[code]

[2015-08-03 00:32] hamishwillee opened #267 "Add loading of dronekit module to mavinit.scr in dronekit installer"
It would remove one step for users if the dronekit installer automatically set up dronekit api to be loaded into mavproxy. This is particularly important because the mavinit.scr is cleared whenever you reinstall mavproxy.

The required line is (I believe):

[code]

Ideally run this conditional on it not being present already :-)

@stephendade @tcr3dr  Thoughts?

[2015-08-03 00:38] kcarring commented on #95
I'm using Cygwin on Windows. Do you mean the mav.tlog file?
When I installed, I started the WinPython Command Prompt as Admin and typed:
pip uninstall python-dateutil
pip install droneapi

When I try to type pip install droneapi upgrade
it says that it can't find any upgrade downloads/distributions...

Is the droneapi.module.api a file somewhere?

[2015-08-03 01:25] hamishwillee commented on #95
@kcarring

Please confirm:

- you are using a SITL vehicle running on Windows in Cygwin
- you are connecting to this on the same machine using a WinPython command prompt?

It is a set of files that should have been installed when you did

[code]
If you do ``pip list`` is the droneapi component shown?

Right now I am trying to write an updated guide that uses a dronekit windows installer. Might be

[2015-08-03 01:52] kcarring commented on #95
Yes I was able to get the SITL setup and compiled on a Windows machine in Cygwin using:
make sitl -j4
I'm not sure what you mean on  the 2nd question. I start SITL from Cygwin via:
sim_vehicle.sh -j4 --map
The 3 windows come up, the map shows the drone and I can type commands and watch the simulated drone move.

When I type pip list (in WinPython) it does show droneapi (1.4.2)

Thanks much! I'll w

[2015-08-03 02:05] hamishwillee commented on #95
@kcarring Great, I'm working on the new docs now. YOu can track from #164.

Setting up DK has two parts - setting up the vehicle (if simulated), and setting up dronekit to talk to it. My second question above was confirming that you're using WinPython for the DroneKit environment. This is important, because you could, for example, decide that you'll not bother with setting up a separate dronekit e

[2015-08-03 07:04] hamishwillee commented on #164
Docs issues are addressed by #268

[2015-08-03 07:06] hamishwillee commented on #95
@kcarring Please see modified getting started in #268 using the windows installer.

Installation is much simpler on windows. The downside is that behaviour is slightly different for making the connection (done after starting MAVProxy) and for running examples (you need to specify the full path to examples because you don't have the ability to start MAVProxy within a specific directory.

Feedback o

[2015-08-03 14:05] a7scenario opened #269 "Feature Request: Access to Mavlink messages received by Autopilot"
For Companion Computers (e.g. Raspberry Pi) running DroneKit onboard an aircraft, it's easy to access outgoing mavlink messages that the autopilot sends to the GCS.  You can do this by simply invoking DroneKit's set_mavlink_callback() function.  However, there doesn't appear to be any way in DroneKit to intercept mavlink messages going in the other direction -- messages that the GCS sends to the A

[2015-08-03 17:29] a7scenario opened #270 "Companion Computer sending of arbitrary data/files over 3DR telem radio"
A send_data() function in DroneKit would be very useful -- allowing for onboard Companion Computers (e.g. Raspberry Pi) to transmit arbitrary data files back to the GCS over the 3DR telemetry radio link.  For a lot of lower-bandwidth drone applications, this would help us avoid having to run a 2nd radio link on the aircraft (Wi-Fi or GSM).

Perhaps the DroneKit could write data chunks (ENCAPSULATE

[2015-08-03 20:57] kcarring commented on #95
I got it to work! Thank you! (But  when I type another command into the MAVProxy window the output from the previous command disappears. Also the output of the vehicle_state.py occasionally seems to overwrite parts of itself.)
Here's what I did to get it working though:
Installed a new MAVProxy and dronekit-windows via running:
http://firmware.diydrones.com/Tools/MAVProxy/MAVProxySetup-latest.exe

[2015-08-04 01:51] hamishwillee commented on #270
+1 Sounds like a great feature.

[2015-08-04 01:56] hamishwillee commented on #95
@kcarring Glad you got it working. I hope to update the SITL instructions so you will no longer need cygwin either. That will remove some confusion, because the standard Windows instructions mean that you end up with multiple consoles and mavproxy windows floating around.

[2015-08-06 12:39] stephendade commented on #267
@hamishwillee - done in #271 :)

[2015-08-06 23:06] hamishwillee commented on #267
@stephendade Thank you! I'll update the docs in line with this today (hopefully!)

[2015-08-06 23:47] R-Lefebvre opened #274 "Need method for manual camera pointing control other than RC Override"
Currently, the only way to have full manual camera pointing control, such as tilt on a joystick, is to use an RC Override. My understanding is RC Overrides are planned to be eliminated.

Use-case is something like, flying around in Loiter mode, and wishing to look around manually rather than giving aiming points or ROI.

[2015-08-06 23:54] hamishwillee commented on #274
AFAIK this is correct. The MAVLink command for manually controlling camera position ([MAV_CMD_DO_MOUNT_CONTROL](http://copter.ardupilot.com/wiki/common-planning-a-mission-with-waypoints-and-events/common-mavlink-mission-command-messages-mav_cmd/#mav_cmd_do_mount_control)) can only be used in missions (the set of commands that can be  used in [guided mode on copter are here](http://dev.ardupilot.co

[2015-08-07 16:41] jamesbellaero commented on #132
Something that I've noticed is that when I clear, flush, add new waypoints, and flush again is that the Home location is set to the first standard waypoint (not takeoff or change speed, etc) in the command sequence. I've created a workaround by just adding the Home waypoint after I clear the list, but I'm gathering from reading this and the Dronekit.io documentation that this is a bug.

Just letti

[2015-08-07 20:25] jamesbellaero opened #276 "Vehicle.flush() not working as intended"
There are two issues with the flush method that I have found:

1. When I add waypoints and call flush(), the entire mission requires about .25 seconds per waypoint to write in lab conditions. If I attempt to set the vehicle to auto or download the waypoints before all of them are written, the Pixhawk will not receive the full mission and 're-request' the waypoints it missed. When flying, this caus

[2015-08-07 22:00] a7scenario commented on #270
It looks like its possible to route arbitrary data over the 3DR telemetry radio down to your Ground Station from a companion computer running DroneKit.  After message creation in message_factory (entering your GCS as target_system), the key is to not invoke DroneKit’s send_mavlink() function -- because it changes the target_system/target_component to your autopilot’s IDs (and you want to send to t

[2015-08-09 23:15] hamishwillee commented on #270
@tcr3dr Interesting discussion. I think this highlights the need to be able to send messages to the GCS from the companion computer. Possibly the simplest way to handle this is is to update send_mavlink so that  it treats 0 as autopilot component/system id but otherwise respects values set by the user?

The actual handling of acknowledgement etc is something I believe we're thinking about in anoth

[2015-08-09 23:27] hamishwillee commented on #132
Hi @jamesbellaero

Yes, if you clear the vehicle.commands then you clear out all waypoints including the home position. When you upload, the bug reported here means that the first command you added will be lost. There are two solution - either add a dummy waypoint first or do a download after clearing in order to populate the first waypoint. I submitted https://github.com/dronekit/dronekit-python/

[2015-08-09 23:32] hamishwillee commented on #276
@jamesbellaero Thanks for this. It is a duplicate of #227.

@tcr3dr I agree with @jamesbellaero that this is a critical defect. It has certainly cost me a LOT of time when writing examples. I am not sure of the correct solution - do you think we could get some time on it in the coming week?

[2015-08-10 06:55] hamishwillee opened #277 "Add improved example for set_mavlink_callback"
``set_mavlink_callback`` allows users to intercept all messages to the companion computer/script, so it is arguably* quite useful for adding support for messages or "attributes" that aren't yet in the API. The proposal is to update the example to provide a "useful" reference for people who want to create their own message handlers.

* I say "arguably" because it is similar effort to update the API

[2015-08-10 07:07] hamishwillee commented on #277
@tcr3dr @mrpollo @djnugent  I have created an example ([see gist here](https://gist.github.com/hamishwillee/1ff5c3771eea307473c0#file-handle_message-py)) which shows how you might use ``set_mavlink_callback`` to the raw_imu message. The example is a little non-trivial in that it attaches the new object ``vehicle.raw_imu`` to the vehicle and hooks into the normal notifier mechanism so you can creat

[2015-08-10 07:16] hamishwillee commented on #234
@tcr3dr @mrpollo I am thinking of implementing this API as part of writing a guide topic on how to implement an attribute to support a new message type. This would work with #277.

1. Good idea?
2. This is quite easy to do as Vehicle.raw_imu but we were discussing having larger abstractions of the API so as not to clutter the Vehicle namespace. So for example we might have ``Vehicle.imu`` which ho

[2015-08-10 16:19] atomictom opened #278 "VehicleMode should be easy to compare for equality"
VehicleMode should be an enum or at least enum-like. The biggest issue with the current implementation is:
[code]
This means that determining which mode you are in either requires you to make your own enum:
[code]
and only use those variables.

Test for string equality:
[code]
Or access the `name` field (which is not documented):
[code]

Additionally, being an enum would allow for code that checks

[2015-08-10 22:04] atomictom commented on #209
Just a thought: why not have the methods be asynchronous but return something like a Future which can either be ignored or waited on.

First you would get a future like so:
[code]

Then later on, if you want to wait until the previous command succeeds (or fails):
[code]
Here I decided to have the truthiness of the future be indicative of an error, but you could use a property like `takeoff_future.

[2015-08-10 23:15] hamishwillee commented on #114
@tcr3dr I quite like the "futures" approach described here https://github.com/dronekit/dronekit-python/issues/209#issuecomment-129629149

[2015-08-10 23:17] hamishwillee commented on #209
@atomictom I like the idea - very C#. We need an approach that can be used broadly across the whole API to handle asynchronous behaviour in a common way. My preference is something like this.

[2015-08-10 23:56] hamishwillee commented on #278
Hi @atomictom

I absolutely agree that we should be easy to test for equality, to iterate through the modes, and to test for existence as you do above. I'm not sure that an enum is the right way to do this - probably this should be handled similarly to parameters (except they need to be observable too).

I have therefore changed the title of this issue.

Regards
Hamish

P.S. [VehicleMode.name](htt

[2015-08-11 01:36] tcr3dr commented on #277
I think this mechanism, though less than ideal, will actually go a fair way toward helping us shape what the ideal API looks like for implementing these attributes. So in the case that you add your own parsed messages from MAVLink and then use them in the same example, this is the most common usage of `set_mavlink_callback` even if we don't recommend it—creating globals or modularizing it is simpl

[2015-08-11 04:20] akwatson commented on #277
@hamishwillee I've noticed this as well and thought my linux path was just messed up (and it probably is...).  For one, try adding sys.path.append(os.getcwd()) to your primary DroneKit script launched via "api start" in Mavproxy and it will sometimes resolve the issue you mention above by grabbing/adding the local scripts' paths to the system path on the fly (instead of using mavproxy's path as th

[2015-08-11 04:52] hamishwillee commented on #277
@akwatson Thanks. If adding sys.path.append(os.getcwd()) allows you to import files in the current directory that would be excellent. If it is unreliable though, I won't document it.

We're expecting this to be a null issue in the next major release because DK will become an ordinary module (not run in the MAVProxy context) - see #188. We have also discussed an interim solution (#251) but I person

[2015-08-11 15:55] eliao commented on #277
I use 'sys.path.append(os.path.realpath(''))' in my dronekit scripts to allow them to import each other no matter where they're run from.

[2015-08-11 21:46] a7scenario commented on #277
@eliao I've been using this for helper functions, but it never works for importing my primary DroneKit class (which calls local_connect, api.get_vehicles(), etc).  Are you successfully able to run a DroneKit script that imports a local module (using the sys.path.append command above) and have that imported module call local_connect and api.get_vehicles without failing?  If so, I think that this pa

[2015-08-11 22:03] eliao commented on #277
Oh, interesting.  Perhaps you are right regarding the main class.  Odd.  Maybe it's how Mavproxy loads up the initial module?

[2015-08-12 00:46] hamishwillee opened #281 "Update the guided mode examples re NED frame support (AC3.4)"
[ #2447 Copter: Add support for MAV_FRAME_BODY_NED in SET_POSITION_TARGET_LOCAL_NED](https://github.com/diydrones/ardupilot/issues/2447) means that the body NED frame will now be observed. We should document this, and check that we don't say this is ignored.

This can be deferred until AC3.4 comes out though.

[2015-08-12 00:49] hamishwillee commented on #115
Reopening - this fix will go into Release 1.5.

[2015-08-12 02:32] atomictom commented on #278
An enum was the first thing that came to mind, but anything that filled those requirements would work fine. One additional thought I had was, it would be nice if there were only one reference to a VehicleMode. That way, you could test for equality with the `is` operator, perhaps like so:
[code]

Also, you're right! Perhaps if there was a code example in the docs that used it (perhaps in an if-stat

[2015-08-12 02:53] atomictom commented on #114
[This futures library](https://docs.python.org/3/library/concurrent.futures.html) might be worth looking into.

[2015-08-12 20:36] #115 closed

[2015-08-13 16:25] atomictom opened #285 "condition_yaw doesn't work without a call to send_global_velocity"
I was testing out the `condition_yaw` function in the docs and while the command would send a MAVLink message, and the drone (SITL) would respond with success, the drone would not yaw (as indicated by the `vehicle.attitude.yaw` field). However, if I precede the `condition_yaw` call with a `send_global_velocity(0, 0, 0)` call (again, taken from the docs), the drone will rotate successfully.

I am e

[2015-08-13 21:03] mrpollo opened #286 "subdomain for dronekit assets"
we are currently using the s3 url we should move to cloudfront and add a subdomain

currently:
http://dronekit-assets.s3-website-us-east-1.amazonaws.com

proposal:
http://assets.dronekit.io/

[2015-08-14 01:07] hamishwillee commented on #285
@atomictom Can you create a gist of your example code please - ideally based off http://python.dronekit.io/examples/guided-set-speed-yaw-demo.html ?

[2015-08-14 02:51] hamishwillee commented on #286
@mrpollo Looks good to me. Will the old URL work after you add the subdomain? Point being that I need to have links in the docs that will work moving forward.

[2015-08-14 06:57] hamishwillee commented on #278
@atomictom The code examples do use it - see [Set attributes](http://python.dronekit.io/guide/vehicle_state_and_parameters.html#vehicle-state-set-attributes).

To make this more clear I have added a small section to the VehicleMode API reference - see #278. I hope you think that is sufficient for now.

[2015-08-14 06:59] hamishwillee opened #289 "Method to get the available modes in code"
As it says above. The method should be iterable, and it should be possible to test if a mode is supported/present in the list.

[2015-08-14 07:00] hamishwillee commented on #278
I've spawned off #289. I don't think we actually want the mode iterable, but we do want to be able to get the modes, if only to test that the mode we want to change to is supported.

[2015-08-14 15:23] atomictom commented on #278
I agree there. A string would be sufficient as far as I can tell. However, if there is some reason for having a class, another possibility is to implement the `__eq__` magic method.

Something like that is what I was looking for, so that works. Thanks!

Do you mean a single mode or all the modes? I do not personally have a use-case for it, but having an iterable of all the modes allows the availab

[2015-08-14 18:18] atomictom commented on #285
https://gist.github.com/atomictom/9bae5cb7642045b184da

It uses mostly unmodified versions of the `condition_yaw` and `send_global_velocity` functions. If you uncomment either of the lines with `# send_global_velocity(0, 0, 0)` then it yaws, otherwise it won't.

I load it up using `mavproxy.py --master=172.28.128.1:5760 --cmd="module load droneapi.module.api ; api start gist.py"` connecting to a v

[2015-08-14 19:17] tcr3dr commented on #286
@hamishwillee Old URL will continue to work!

[2015-08-14 22:09] hamishwillee commented on #286
@tcr3dr But the one we have live at the moment doesn't:
 https://s3.amazonaws.com/dronekit-installers/windows/dronekit-windows-latest.exe

Are you going to fix that or do we need to patch with:
http://dronekit-assets.s3.amazonaws.com/installers/dronekit-windows-latest.exe

[2015-08-14 22:23] mrpollo commented on #286
@hamishwillee not sure how you got that one but thats never going to work, it needs a bucket-name behind s3, we can't fix that, we need to push a fix to docs then

[2015-08-14 22:25] hamishwillee opened #291 "DroneKit / MAVProxy not respecting the windows path inside quote marks"
The following start command fails:

[code]
It returns the following error:
[code]

Mavproxy or dronekit does not interpret the directory  correctly. Tried everything I could with other path syntaxes without success.

This originates here: https://github.com/diydrones/ardupilot-wiki-issue-tracker/issues/128#issuecomment-131135888

@mrpollo I have verified issue with 1.5 Windows Installer and with a

[2015-08-14 22:57] hamishwillee commented on #286
@mrpollo I'll create a patch now.

[2015-08-14 23:12] mrpollo commented on #278
I submitted a fix for this, it's annoying and IMO non-pythonic to not be able to compare objects, there might be other objects we need to compare aside from just `VehicleMode` like `Vehicle` maybe a good feature to have later when we are dealing with multiple `Vehicles`.

Thanks for the report @atomictom, this should go into the next minor release (no ETA for that yet)

[2015-08-14 23:22] hamishwillee commented on #278
@mrpollo 's fix is at https://github.com/dronekit/dronekit-python/pull/292

[2015-08-14 23:41] atomictom commented on #278
No problem! Thanks for the fix @mrpollo and the comments @hamishwillee.

[2015-08-15 06:10] jamesbellaero commented on #164
Both of the links stopped working.

[2015-08-15 07:08] hamishwillee commented on #164
@jamesbellaero Yes, but the ones on the [live site getting started](http://python.dronekit.io/guide/getting_started.html) do work - we pushed fixes for that today.

[2015-08-15 07:08] #164 closed

[2015-08-15 13:18] franknitty69 opened #294 "Battery Vehicle Attribute is missing from API"
According to the documentation, the Battery Vehicle Attribute is exposed via vehicle.battery. when trying to read vehicle.battery, an error occurs stating that no such parameter (battery exists) in api.py.

The same issue occurs when trying to execute the vehicle_state.py example on the dronekit website.

[2015-08-16 04:29] stephendade opened #295 "Documentation: python modules"
Subsequent to a discussion over at https://github.com/Dronecode/MAVProxy/issues/181.

The dronekit documentation should make it clear that, if the user uses the Windows installer, MAVProxy (and dronekit) will not have visibility of the user's default Python environment. Any extra Python modules they wish to use should be copied into the MAVProxy folder.

[2015-08-16 23:12] hamishwillee commented on #294
Hi @franknitty69

I just ran this on the latest version (1.5) and got the following output from vehicle_state.py (with Battery output):

[code]

What version of MAVProxy/DroneKit are you using and on what computer? What autopilot are you connecting to? Can you show me the output you get from vehicle_state.py

[2015-08-17 00:19] hamishwillee commented on #295
Thanks @stephendade . I've added the changes in #296 to address this.

[2015-08-17 03:02] franknitty69 commented on #294
I'm connecting to a 3DR Solo. I'm not sure of the version of DroneKit running on Solo. The autopilot is Pixhawk 2.

**Connected to solo**
![connected to solo](https://cloud.githubusercontent.com/assets/1964052/9297245/4bb04a24-446a-11e5-967a-9f3cb45e4c78.png)

**Dronekit Python Error**
![dronekit python error](https://cloud.githubusercontent.com/assets/1964052/9297253/70e3ee40-446a-11e5-8083-6996e